<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Object-Oriented Software Engineering Staff" />
    <meta
      name="description"
      content="A Course at the Johns Hopkins University"
    />
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
    <!-- prettier-ignore -->
    <title>
      {% if page.title %}
        {{ page.title | markdownify | strip_html }} · 
      {% endif %}
      Object-Oriented Software Engineering
    </title>
  </head>
  <body>
    <header>
      <h1>
        <a href="/">
          <img
            alt="Object-Oriented Software Engineering"
            src="/logo.png"
            width="494"
          />
        </a>
      </h1>
    </header>
    <main>{{ content }}</main>
  </body>
</html>
