
include utils.pug

input(type='hidden' name='_csrf' value=csrfToken)
+field('Attraction Name', 'attractionName', attraction.attractionName)
+field('Theme', 'theme', attraction.theme)
+field('Opened', 'opened', attraction.opened, 'text', 'ex: 2000-01-31')
+field('Riders per Vehicle', 'ridersPerVehicle', attraction.ridersPerVehicle)
