extends layout.pug

include utils.pug

block content
  h3(class='pb-3'): em for #{park.parkName}
  +validationErrorSummary(errors)
  form(action=`/attraction/edit/${attraction.id}` method='post')
    include attraction-form-fields.pug
    div(class='py-4')
      button(type='submit' class='btn btn-primary') Update Attraction
      a(href=`/attraction/${attraction.id}` class='btn btn-warning ml-2') Cancel
