<div id='chessClock' class='chessClock standard'>
	<div class='setTime' id='standard'>
		<div class='glyphClock' onclick=''></div>
		<div class='inputs'>
			<input id='min' type='text' name='minutes' value=5></input> :
			<input id='sec' type='text' name='seconds' value=00></input>
		</div>
		<div class='syncStart'>
			<button type='submit' id='sixtysecond'>start <br /> game</button>
			<button style='display:none' type='submit' id='stopClock'>stop & reset clock</button>
		</div>
	</div>
	<div class='showtime' id='countdown'>
			<div class='glyphClock' onclick=''></div>
			<div class='inputs'>
				<input id='millisecond' type='text' name='countdown' value=600000></input>
			</div>
		</div>
</div>