<h1>Edit <%= @band.name %></h1>

<form action="<%= band_url(@band) %>" method= "POST">
  <input type="hidden" name="_method" value="PATCH">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="name">Name</label>
  <input type="text" name="bands[name]" id="name" value="<%= @band.name %>">
  <input type="submit" value="Submit">
</form>