---
---

@import "common.scss";

#demos {
	$break-small: 450px;
	$small-devisor : 2;
	$break-medium: 800px;
	$medium-devisor : 3;
	$large-devisor : 4;
	$margin: 2px;

	width: 100%;
	margin-bottom: 20px;
	top: 20px;
	position: relative;
	display: flex;
	flex-wrap: wrap;

	.demo {
		position: relative;
		margin: 0px;
		overflow: hidden;
		margin: $margin;

		@media screen and (max-width: $break-small) {
			width: calc(100%/#{$small-devisor} - #{$margin * $small-devisor});
		}
		@media screen and (min-width: $break-small) and (max-width: $break-medium){
			width: calc(100%/#{$medium-devisor} - #{$margin * $medium-devisor});
		}
		@media screen and (min-width: $break-medium){
			width: calc(100%/#{$large-devisor} - #{$margin * $large-devisor});
		}

		&:before {
			content: "";
			float: left;
			padding-top: 100%;
		}

		#title {
			position: absolute;
			top: 0px;
			left: 0px;
			width: 100%;
			height: 100%;
			opacity: 0;
			background-color: black;
			color: white;
			pointer-events: none;
			transition: opacity 0.2s;

			#text {
				position: absolute;
				$textHeight : 20px;
				transform: translate(-50%, -50%);
				top: 50%;
				left: 50%;
				width: 90%;
				line-height: $textHeight;
				text-align: center;
			}
		}

		a {
			position: absolute;
			top: 0px;
			left: 0px;
			width: 100%;
			height: 100%;

			img {
				object-fit: cover;
				position: absolute;
				width: 100%;
			    height: 100%;
				top: 0px;
				left: 0px;
			}
		}

		&:hover {
			#title {
				opacity: 0.7;
			}
		}


	}
}

#submit {
	padding: 10px;
	position: absolute;
	top: 10px;
	right: 20px;
	background-color: $purple;
	color: white;

	&:hover {
		background-color: $lightGray;
		color: $purple;
	}
}

