/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */

* {
  box-sizing: border-box;
}

.gradientHeader {
  background-image: linear-gradient(to bottom right, #002244, #69BE28);
  font-family: 'Caveat', cursive;
  color: #A5ACAF;
  width: 100%;
  display: flex;
  overflow-y: hidden;
}

h1 {
  font-size: 72px;
}

.heading {
  margin-top: 5%;
  margin-right: 0%;
  width: 75%;
  overflow-y: hidden;
}

.line1 {
  padding-left: 5%;
  width: 100%;
  float: left;
  transform: translateY(0);
  opacity: 0;
  animation-name: titleAnimation;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.liAnimation {
  transform: translateY(0);
  opacity: 0;
  animation-name: titleAnimation;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.line2 {
  width: 100%;
  padding-left: 15%;
  float: left;
  transform: translateY(0);
  opacity: 0;
  animation-name: titleAnimation;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.line3 {
  width: 100%;
  float: left;
  padding-left: 40%;
  transform: translateY(0);
  opacity: 0;
  animation-name: titleAnimation;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

.container {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.headerRow {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  margin: 0%;
  padding: 0%;
}

.row {
  background-color: #002244;
  padding-top: 2%;
  padding-bottom: 2%;
}

section {
  width: 100%;
  display: flex;
}

.content {
  background-color: #A5ACAF;
  color: #002244;
}

.contact {
  margin: 0;
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: 22px;
  width: 100%;
  justify-content: center;
  background-color: #002244;
}

.contact a {
  color: #A5ACAF;
  text-decoration: none;
  font-weight: bold;
}

a {
  color: #002244;
  text-decoration: none;
  font-weight: bold;
  justify-content: center;
  text-align: center;
}

.button {
  border: 2px solid #002244;
  border-radius: 20px;
  width: 50%;
  display: flex;
  align-self: center;
  text-align: center;
  margin: 2%;
}

a:hover {
  text-decoration: underline;
}

p {
  font-family: 'Gloria Hallelujah', cursive;
  margin: 2%;
  line-height: 23px;
}

li {
  line-height: 23px;
  font-family: 'Gloria Hallelujah', cursive;
}

.intro {
  display: flex;
  margin-right: 2%;
  width: 45%;
  background-color: #A5ACAF;
  color: #002244;
  flex-direction: column;
  justify-content: space-between;
}

.skills {
  width: 45%;
  background-color: #A5ACAF;
  color: #002244;
  flex-direction: column;
  justify-content: space-between;
}

.workHistory {
  width: 45%;
  margin-right: 2%;
  flex-direction: column;
  background-color: #A5ACAF;
  color: #002244;
  flex-direction: column;
  justify-content: space-between;
}

.education {
  width: 45%;
  background-color: #A5ACAF;
  color: #002244;
  flex-direction: column;
  margin-bottom: 2%;
  justify-content: space-between;
}

.hobbies {
  width: 100%;
  order: 3;
  flex-wrap: wrap;
  background-color: #A5ACAF;
  color: #002244;
  flex-direction: column;
  justify-content: space-between;
}

.portfolio {
  display: flex;
  color: #A5ACAF;
  margin: 0;
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: 22px;
  width: 100%;
  justify-content: center;
  background-color: #002244;
}

.portfolio a {
  color: #a5acaf;
}

.stars {
  width: 22%;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  margin-bottom: 3%;
  margin-right: 1%;
  margin-left: 0%;
}

.star {
  margin: 50px 0;
  position: relative;
  display: block;
  color: #002244;
  width: 0px;
  height: 0px;
  border-right: 13px solid transparent;
  border-bottom: 9px solid #002244;
  border-left: 13px solid transparent;
  transform: rotate(35deg);
}

.star:before {
  border-bottom: 10px solid #002244;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -6px;
  left: -8px;
  display: block;
  content: '';
  transform: rotate(-35deg);
}

.star:after {
  position: absolute;
  display: block;
  color: #002244;
  top: 1px;
  left: -12px;
  height: 0px;
  border-right: 12px solid transparent;
  border-bottom: 9px solid #002244;
  border-left: 12px solid transparent;
  transform: rotate(-70deg);
  content: '';
}

.star-row {
  border: none;
  transform: translateY(-40%);
  display: flex;
  justify-content: flex-end;
  animation-name: starAnimation;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  animation-direction: forwards;
  animation-duration: 4s;
  max-height: 0px;
}

.row1 {
  max-height: 40px;
}

.row2 {
  justify-content: flex-start;
  animation-delay: 1s;
  max-height: 40px;
}

.row3 {
  justify-content: space-around;
  animation-delay: 2s;
  max-height: 40px;
}

.row4 {
  justify-content: center;
  animation-delay: 3s;
  max-height: 40px;
}

.row5 {
  animation-delay: 1s;
}

ul {
  list-style-type: square;
  margin-left: 5%
}

button {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 30%;
  padding-bottom: 2%;
  padding-top: 2%;
  border: 2px solid #002244;
  background-color: #A5ACAF;
  margin: 0 auto;
  margin-bottom: 2%;
  margin-top: 2%;
}

span {
  justify-content: center;
  align-self: center;
  width: 100%;
  margin: 0 auto;
}

@keyframes titleAnimation {
  0% {
    transform: translateY(-50px);
    opacity: 0;
    left: 200px;
    top: 50px;
  }
  20% {
    transform: translateY(0);
    opacity: 1;
    left: 200px;
    top: 50px;
  }
  80% {
    transform: translateY(0);
    opacity: 1;
    left: 200px;
    top: 250px;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
    left: 200px;
    top: 250px;
  }
}

@keyframes starAnimation {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 500px) {
  .headerRow {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
  }
  .line3 {
    padding-left: 30%;
  }
  h1 {
    width: 100%;
  }
  span {
    width: 100%;
  }
  .heading {
    width: 95%;
  }
  .stars {
    width: 95%;
  }
  .panel {
    display: flex;
    flex-direction: column;
    width: 93%;
    flex-wrap: wrap;
    margin: 2%;
  }
  ul {
    list-style-type: square;
    margin-left: 8%
  }
}