<div  class="hierarchy">
	<h3>Hierarchy</h3>
	<ul>
		{{#each extendedTypes}}
			<li>
				{{> type}}
			</li>
		{{/each}}
		<ul>
			<li class="hierarchy-target">{{name}}</li>
			<ul>
				{{#each extendedBy}}
					<li>
						{{> type}}
					</li>
				{{/each}}
			</ul>
		</ul>
	</ul>
</div>
