<div class="signature">
	{{!-- method name --}}
	{{#unless constructor}}
		{{>signature.title}}
	{{/unless}}
	{{!-- the explanation --}}
	{{>comment this}}

	<div class="function">

		<span class="name">{{name}}</span>
		{{!-- parameters --}}
		<span class="signature-symbol">(</span>
		{{#if parameters}}
			<div class="parameters">
				{{#compact}}
					{{#each parameters}}
						<div class="parameter">
							{{#if flags.isRest}}
								<span class="signature-symbol" title="multiple">...</span>
							{{/if}}
							<span class="name">{{name}}</span>
							{{!-- QUESTION MARK FOR OPTIONAL --}}
							{{#if flags.isOptional}}
								<span class="signature-symbol" title="optional">?</span>
							{{/if}}
							{{!-- default value --}}
							{{#if defaultValue}}
								<span class="signature-symbol default-value" title="default value">= {{defaultValue}}</span> 
							{{/if}}
							{{!-- THE TYPE --}}
							{{#compact}}
								{{#if type}}
									<span class='type-block'>
										<span class="signature-symbol">:</span> 
										{{>type type}}
									</span>
								{{/if}}
								{{#unless @last}}
									<span class="signature-symbol">,</span>
								{{/unless}}
							{{/compact}}
							{{>comment this}}
						</div>
					{{/each}}
				{{/compact}}
			</div>
		{{/if}}
		<span class="signature-symbol">)</span>
		<span class="signature-symbol"> => </span>
		{{!-- The return type --}}
		{{>type type}}
		{{#if comment}}
			{{#if comment.returns}}
				<div class="description">
					{{comment.returns}}
				</div>
			{{/if}}
		{{/if}}
	</div>

	<div id="code-links">
		{{>inherited}}
		{{>codeLink}}
	</div>
</div>
