h1 a, header a {
  color: black;
  font-weight: bold;
}

h1 a {
  font-size: 24px;
  font-style: italic;
  font-weight: bolder;
}

.byline {
  color: $gray;
  font-size: 11px;
}

section > ul > li {
  list-style: disc;
  padding: 7px 0;
  margin-left: 15px;
}

section {
  padding: 15px;
}

p {
  line-height: 1.5;
}

.mini-list {
  font-weight: bold;
  font-size: 10px;
  padding: 2px 0;
}