.sections-nav {
    display: flex;
    justify-content: center;
    font-size: 12px;
}

.sections-nav li {
    padding: 8px;
}

.sections-nav li a:hover {
    background-color: $lightest-gray;
}

.sections-nav li:last-of-type a {
    text-decoration: underline;
}