<section class="masthead">
    <ul class="language-nav">
        <li><a href="#">CSS</a></li>
        <li><a href="#">HTML</a></li>
        <li><a href="#">Javascript</a></li>
        <li><a href="#">Ruby</a></li>
    </ul>

    <img src="assets/AA_Times_Logo.png" alt="logo">

    <ul class="masthead-links">
        <li></li>
        <li><a href="#">Today’s Paper</a></li>
        <li><a href="#">Video</a></li>
        <li><button>77°F</button></li>
        <li><button>AAO</button><strong>+100%</strong></li>
    </ul>
</section>


