.form-group
  label(for='email') Email address
  input#email.form-control(type='email', name="email", placeholder='Enter email')
.form-group
  label(for='password') Password
  input#password.form-control(type='password', name="password", placeholder='Password')
