<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../../stylesheets/sign-up.css")
        link(href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet")
        title Account Registration
    body
        div(class="sign-up_container")
            div(class="form-holder")
                form(class="sign-up_form" method="post")
                    a(href='/')
                        img(src="/images/infinity-large.jpg" width="60" alt="")
                    h1 Create an Account
                    p Don't have an account? No worries, signing up takes under a minute
                    if (errors)
                        each error in errors
                            li(class="errors")= error
                    input(type="hidden" name="_csrf" value=token)
                    input(class="sign-up_input" includes type="email" name="email" placeholder="Email" required)
                    input(class="sign-up_input" type="text" name="username" placeholder="Username" required)
                    input(class="sign-up_input" type="password" name="password" placeholder="Password" required)
                    input(class="sign-up_input" type="password" name="confirmPassword" placeholder="Confirm Password" required)
                    button.rainbow-button(type="submit") Sign Up!
                div(class="log-in_button")
                    p Already have an Account?
                    a(href="/users/login")
                        button.rainbow-button Log in
