doctype html
html
  head
      block head
        title="Infinium"
        link(rel='stylesheet' href='/stylesheets/user.css')
        link(rel='stylesheet' href='/stylesheets/footer.css')
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@900&display=swap")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;900&display=swap")
        script(src="/javascripts/layout.js" type="module" defer)
        script(src="/javascripts/follow.js" type="module" defer)
        script(src="/javascripts/user.js" type="module" defer)
  body
    header
      include user-header-include
    section
      
      include user-about-include
      if authCompare
        .question
          p(class="question_ask") Have something to share?
          a(href="/stories/new-story" class="question_answer") Create your own world.
      else
        .storyholder
          .recentStories
            each sto in stories
              .recentStory
                a(href=`/users/${userId}/stories/${sto.hexId}` class="recentStory_title")= sto.title
                h3(class="recentStory_subtitle")= sto.subtitle
              if (sto.imageLink)
                .storyImage
                  img(src= sto.imageLink, alt="doggies" class="storyImage_recent")
              .storyBody
                p= sto.published
    include modal-include
    include footer
