span(class="loggedout")
  form(class="demo-log-in_form" action="/users/login" method="post")
    input(type="hidden" name="_csrf" value=token)
    input(type="hidden" name="usernameOrEmail" value="Demo")
    input(type="hidden" name="password" value="Some5&#Ha")
    button.rainbow-button(type="submit") Demo
  a(class="login" href='/users/login')
    button.rainbow-button Login
  a(class="register" href='/users/register')
    button.rainbow-button Register
