.header-outside-container
  .header
    .header-inside-container
      .title
        span(class= "title_name")= author || name
        if followerCount === 1
          .followers_count #[span #{followerCount}] Follower
        else
          .followers_count #[span #{followerCount}] Followers
        .dot .
        a(href="" class="about") About
        if !authCompare && locals.user
          if !followCompare
            a(href="" class="follow") Follow
            a(href="" class="following hide") Following
          else
            a(href="" class="follow hide") Follow
            a(href="" class="following") Following
      .icons
        if locals.user
          include user-loggedin-dropdown-include
          if authCompare
            a.rainbow-button(href="/stories/new-story") New Story
        else
          include user-logged-out-include
        a(href="/")
          .infinity_image
            img(src="/images/infinity.jpg" alt="Infinity" class="infinity_image_icon")