html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Permanent Marker', cursive;
}

.game-board {
  /* width: 40%; */
  margin: auto;
}

.row {
  display: flex; 
  justify-content: center;
  align-content: center;
  /* margin: 20px; */
}

.box {
  margin: 10px;
  border: 2px solid gray;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  font-size: 8rem;
}
