body {
  background: sandybrown;
 display: flex;
 flex-direction: column;
 width: 100%;
 align-items: center;
 justify-content: center;
}

.widgets-container {
  width: 800px;
  font-family: 'Gugi', cursive;
}

.row {
  display: flex;
  justify-content: space-between
}

.clock-container, .weather-container{
  width: 100%;
  padding: 10px 0;
}

.tabs-container, .autocomplete-container {
  width: 45%;
  padding: 10px 0;
}

h1 {
  font-size: 40px;
  font-weight: bold;
}

.clock, .weather, .tabs, .autocomplete {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 18px;
}

.weather, .loading {
  background: cadetblue;
  border: 2px solid black;
  border-radius: 5px;
}

.weather {
  align-items: center;
}

.loading {
  padding: 20px;
}

.weather > p {
  padding: 5px;
}

.clock {
  background: seagreen;
  border: 2px solid black;
  border-radius: 5px;
}

.tabs {
}

.clock-time, .clock-date {
  display: flex;
  padding: 5px;
  justify-content: space-between;
}

.tab-header {
  display: flex;
  height: 25px;
  /* justify-content: space-between; */
}

.tab-content {
  height: 300px;
  background: lightcoral;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -2px;
}

.tab-header li {
  background: lightcoral;
  border: 2px solid black;
  border-bottom: 0;
  padding: 5px 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
  cursor: pointer;
}

.tab-header > li:hover {
  background: black;
  color: white;
}

.selected {
  font-weight: bold;
  border-bottom: 2px solid lightcoral;
  z-index: 1;
}

.autocomplete {
  background: yellow;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
  height: 320px;
  overflow: auto;
}

.autocomplete > input {
  background: lightgoldenrodyellow;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 4px;
}

.names-list {
  list-style: square inside;
  cursor: pointer;
  padding: 10px;
}

.auto-enter {
   opacity: 0.01;
   transform: rotateY(360deg) translateY(500%);
 }

 .auto-enter.auto-enter-active {
   opacity: 1;
   transform: rotateY(0deg) translateY(0);
   transition: opacity 500ms, transform 500ms;
 }

 .auto-leave {
   opacity: 1;
   transform: rotateY(360deg) translateY(0);
 }

 .auto-leave.auto-leave-active {
   opacity: 0.01;
   transform: rotateY(0deg) translateY(500%);
   transition: opacity 500ms, transform 500ms;
 }