div{
    font-family: 'Arial';
    background-color: red;
    margin: 10px;
    text-align: center;
    font-weight: bolder;
    padding: 15px 30px;
    width: 80px;
    display: inline-block;
    vertical-align: middle;
}

/* Lateral triangle */

.lateral_triangle{
    -moz-transform: translateX(0);
    transform: translayeX(0);
}

.lateral_triangle:before{
    content: '';
    border-style: solid;
    border-width: 15px 15px 15px 0px;
    border-color: transparent red transparent transparent;
    position: absolute;
    left: 0px;
    top: 50%;
    margin-top: -15px;
}

.lateral_triangle:hover::before{
    left: -13px;
}


/* Fixed triangle */

.fixed_top_triangle{
    -moz-transform: translateX(0);
    transform: translateX(0);
    -moz-transition-property: all;
    transition-property: all;
    -moz-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.fixed_top_triangle:before{
    content: '';
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
    border-style: solid;
    border-width: 0px 15px 15px 15px;
    border-color: transparent transparent red transparent;
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: -15px;

    -moz-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.fixed_top_triangle:hover{
    -moz-transform: translateY(15px);
    transform: translateY(15px);
}

.fixed_top_triangle:hover:before{
    top: -13px;
}

/* PAGE CORNER */

.page_corner{
    -moz-tranform: translateX(0);
    transform: translateX(0);
}
.page_corner:before{
    content: '';
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 0;
    height: 0;
    background: -moz-linear-gradient(45deg, white 45%, #aaa 50%, #ccc 60%, white);

    -moz-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.page_corner:hover:before{
    width: 35px;
    height: 35px;
}

/* Fixed shadow */

.fixed_shadow{
    -moz-transform: translateX(0);
    transform: translateX(0);
    -moz-transition-property: all;
    transition-property: all;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.fixed_shadow:before{
    content: '';
    position: absolute;
    width: 90%;
    left: 5%;
    top: 100%;
    height: 10px;

    background: -moz-radial-gradient(center, ellipse, rgba(0,0,0,0.35) 0%,
                rgba(0,0,0,0) 80%);
    opacity: 0;

    -moz-transition-property: all;
    transition-property: all;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.fixed_shadow:hover{
    -moz-transform: translateY(-5px);
    transform: translateY(-5px);
}
.fixed_shadow:hover:before{
    -moz-transform: translateY(5px);
    transform: translateY(5px);
    opacity: 1;
}
