@import "common.scss";

.type {

	a {
		font-weight: normal;

		&:hover {
			color: $orange;
		}
	}

	.type_name {
		text-transform: capitalize;
		position: relative;
	}

	.punc {
		font-size: 0.8em;
		color: $orange;
		text-transform: uppercase;
	}
}