	<div class="container" id="login" data-ng-controller="usersController">
		<div class="row">
			<div class="col-sm-8">
				<p>Hello!</p>
				<p>Please enter your name to join and share your ideas (Must be at least 4 characters).</p>
				<h3 id="error"></h3><!--error display-->
			</div>
		</div>
		<div class="row">
			<div class="col-sm-3">
				<input type="text" class="form-control" ng-model="newUser.username" placeholder="Steve Jobs">
			</div>
		</div>
		<div class="row">
			<div class="col-sm-1 col-sm-offset-5"><!--increase the left margin 5 rows-->
				<input type="submit" class="btn btn-default" value="Enter" ng-click="addUser()">
			</div>
		</div>
	</div>



