div{
    font-family: 'Arial';
    border: 1px solid black;
    background-color: transparent;
    margin: 10px;
    text-align: center;
    font-weight: bolder;
    padding: 15px 30px;
    width: 80px;
    display: inline-block;
    vertical-align: middle;
}

/* FIXED SHADOW */

.fixed_shadow{
    -moz-transform: translateX(0);
    transform: translateX(0);
    -moz-transition-property: all;
    transition-property: all;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.fixed_shadow:before{
    content: '';
    position: absolute;
    width: 90%;
    left: 5%;
    top: 100%;
    height: 10px;

    background: -moz-radial-gradient(center, ellipse, rgba(0,0,0,0.35) 0%,
                rgba(0,0,0,0) 80%);
    opacity: 0;

    -moz-transition-property: all;
    transition-property: all;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.fixed_shadow:hover{
    -moz-transform: translateY(-5px);
    transform: translateY(-5px);
}
.fixed_shadow:hover:before{
    -moz-transform: translateY(5px);
    transform: translateY(5px);
    opacity: 1;
}

/* Blur shadow */

.blur_shadow{
    box-shadow: 0px 0px 0px rgba(0,0,0,1);

    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.blur_shadow:hover{
    box-shadow: 0px 0px 8px rgba(0,0,0,1);
}

/* RADIAL SHADOW */
.radial_shadow{
    position: relative;
    box-shadow: 0px 0px 0px black;
}

.radial_shadow:before,
.radial_shadow:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    left: 0px;
    opacity: 0;

    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.radial_shadow:before{
    /* Goes upper top */
    bottom: 100%;
    background: radial-gradient(
        ellipse at 50% 150%,
        rgba(0,0,0,0.6) 0%,
        rgba(0,0,0,0) 80%);

}

.radial_shadow:after{
    /* Goes below bottom */
    top: 100%;
    background: radial-gradient(
        ellipse at 50% -50%,
        rgba(0,0,0,0.6) 0%,
        rgba(0,0,0,0) 80%);
}

.radial_shadow:hover:before,
.radial_shadow:hover:after{
        opacity: 1;
}

/* OUTSIDE FIXED SHADOW */
.outside_shadow{
    --moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.outside_shadow:hover{
    box-shadow: 2px 3px 10px black;
}

/* ILUMINATION */
.ilumination{
    -moz-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -moz-transition-timing-function: linear;
    transition-timing-function: linear;
}

.ilumination:hover{
    background: navajowhite;
}
