body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

form{
  width: 60%;
  margin: auto;
}
form > .header{
  background-color: #157ffc;
  color: #FFF;
  font-size: 1.5rem;
  font-weight: bold;
  padding: .25rem;
  margin-bottom: .5rem;
}

form label {
  font-size: 1.25rem;
  font-weight: bold;
}

form .actions{
  text-align: right;
}