
body, header, img, nav, ul, aside, h2, section, h1, footer, figure, figcaption, p, ol, form {
  margin: 0;
  padding: 0;
  border: 0;

  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;



  background: transparent;

}

ul, ol {
  list-style: none;
}

body {
  line-height: 1.5em;
}

img {
  width: inherit;
}