.flex100 {
  display: flex;
  width: 100%;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Indie Flower', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
nav {
  display: flex;
  width: 100%;
}
.navigation {
  display: flex;
  width: 100%;
  border-bottom: 2px dashed #c0c0c0;
}
.navMenu {
  justify-content: right;
  display: flex;
  width: 100%;
}
.navMenuContainer {
  display: flex;
  justify-content: right;
  width: 70%;
}
.headerImage {
  padding-top: 2%;
  width: 30%;
}
.navMenu a {
  padding: 5%;
  text-decoration: none;
  color: black;
  font-size: 16px;
}
.footer {
  width: 100%;
  border-top: 2px dashed silver;
  background: #ffebcd;
}
.footer p {
  text-align: center;
  color: #212529;
  font-size: 1.6rem;
  padding: 20px;
}
.home .content-section {
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.home .content-section .text-content {
  width: 48%;
  padding-right: 1%;
}
.home .content-section .img-content {
  width: 48%;
  padding-left: 1%;
}
.home .content-section .img-content img {
  border-radius: 10px;
}
.home .inverse-content {
  padding-bottom: 30px;
  border-bottom: 2px dashed #c0c0c0;
}
.home .inverse-content .text-content {
  padding-left: 1%;
  padding-right: 0;
}
.home .inverse-content .img-content {
  padding-right: 1%;
  padding-left: 0;
}
.home .content-destination {
  width: 75%;
  margin: 0 auto 30px;
}
.home .content-destination img {
  border-radius: 10px;
}
.home .content-pick {
  padding-top: 30px;
  border-top: 2px dashed #c0c0c0;
  display: flex;
  justify-content: space-between;
}
.home .content-pick .destination {
  width: 30%;
  margin-bottom: 30px;
}
.home .content-pick .destination p {
  width: 100%;
}
.introImg {
  width: 100%;
  margin-bottom: 5%;
}
.introPara {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding-bottom: 2%;
  border-bottom: 1px dashed gray;
}
.btn {
  display: flex;
  width: 85%;
  background-color: #008080;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: #ffffff;
  padding: 4% 2% 4% 2%;
  font-size: 16px;
}
h2,
h3,
h4,
h5,
h6 {
  transform: translateY(0);
  opacity: 0;
  animation-name: titleAnimation;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}
p {
  transform: translateY(0);
  opacity: 0;
  animation-name: titleAnimation;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}
img {
  transform: translateY(0);
  opacity: 0;
  animation-name: titleAnimation;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-delay: 0s;
}
@keyframes titleAnimation {
  0% {
    transform: translateY(-50px);
    opacity: 0;
    left: 200px;
    top: 50px;
  }
  20% {
    transform: translateY(0);
    opacity: 1;
    left: 200px;
    top: 50px;
  }
  80% {
    transform: translateY(0);
    opacity: 1;
    left: 200px;
    top: 50px;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
    left: 200px;
    top: 50px;
  }
}
/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  cursor: pointer;
}
/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}
/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}
/* Full-width input fields */
.form-container input[type=text] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}
/* When the inputs get focus, do something */
.form-container input[type=text]:focus {
  background-color: #ddd;
  outline: none;
}
/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #008080;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}
/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: #c0c0c0;
}
/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}
@media (max-width: 500px) {
  nav {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    z-index: 100;
    justify-content: center;
  }
  .headerImage,
  .introImg {
    display: flex;
    width: 100%;
    order: 2;
    justify-content: center;
    flex-wrap: nowrap;
  }
  .navMenu {
    order: 3;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
  }
  .home {
    padding: 0.5%;
  }
  .home .content-section {
    justify-content: center;
    flex-direction: column;
  }
  .home .content-section .img-content {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-bottom: 2%;
    order: 3;
  }
  .home .content-section .text-content {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-bottom: 2%;
    order: 2;
  }
  .home .content-destination {
    width: 100%;
  }
  .home .content-pick {
    flex-direction: column;
    width: 100%;
  }
  .home .content-pick .destination {
    width: 100%;
  }
  .home .content-pick .destination .btn {
    width: 100%;
  }
}
