<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link href="https://fonts.googleapis.com/css?family=Inconsolata|Roboto&display=swap" rel="stylesheet">
	<base href="../">
	<link href="./assets/main.css" rel="stylesheet" type="text/css">
	<title>{{name}}</title>
</head>
<body>
	{{!-- <link href="../node_modules/highlight.js/styles/github.css" rel="stylesheet" type="text/css"> --}}
	<div id="default-container">
		<div id="type-container">
			<span id="type-name">
				type {{name}}
			</span>
			<span id="definition">
				<span class="signature-symbol"> = </span>
				{{#if typeParameter}}
					&lt;
					{{#each typeParameter}}
						{{#if @index}},&nbsp;{{/if}}
						{{name}}
					{{/each}}
					&gt;
				{{/if}}
				{{>type type}}
			</span>
		</div>
		<div id="comment">
			{{>comment this}}
		</div>
		<div id="code-links">
			{{>codeLink}}
		</div>
	</div>
	<script src="./assets/app.bundle.js"></script>
</body>
</html>