<section id="search-modal">
    <form action="#">
    
    <input type="text" value="">
    <button>Go</button>
    
    </form>
    <div class="close pointer">
        <i class="fas fa-times-circle"></i>
    </div>
</section>