.home-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;

  .home-menu {
    position: sticky;
    top: 0px;
    width: 210px;
    margin-top: 17px;
    margin-right: 40px;

    ul {
      list-style: none;
      padding: 0;

      li {
        &.header {
          color: #6b778c;
          font-size: 12px;
          font-weight: 500;
          letter-spacing: 0.04em;
          line-height: 16px;
          margin-top: 16px;
          text-transform: uppercase;
          flex: 1 1 auto;
          margin: 0;
          padding: 8px 0;
          font-family: 'Arial';
          margin-top: 17px;
        }
        a {
          display: block;
          color: rgb(23, 43, 77);
          font-family: 'Roboto';
          font-size: 14px;
          font-weight: bold;
          line-height: 20px;
          outline-style: none;
          margin-bottom: 4px;
          border-radius: 4px;
          min-height: 20px;
          overflow: hidden;
          padding: 6px 8px 6px 0;
          text-decoration: none;
          transition-property: background-color, border-color, box-shadow;
          transition-duration: 85ms;
          transition-timing-function: ease;
          font-family: 'Arial';

          &#boards {
            padding-left: 31px;
            background-image: image_url('logo-sm.png');
            background-size: 14px;
            background-position: 3% 50%;
            background-repeat: no-repeat;
          }

          &.main-link {
            display: flex;
            align-items: center;
            padding-left: 5px;
            i {
              margin-right: 11px;
            }
          }

          &.active {
            background-color: #e4f0f6;
            color: #026aa7;
          }

          &:hover {
            background-color: rgba(9, 30, 66, 0.13);
            color: #091e42;
          }

          &.sec-link {
            font-size: 12px;
            font-weight: 400;
            font-family: 'Roboto';
            display: flex;
            align-items: center;
            padding-left: 35px;
            i {
              margin-right: 11px;
            }
          }
        }
      }
    }
  }

  .home-content {
    margin-top: 17px;
    width: 860px;
  }
}
