@import "./color.scss", "./signature.scss";

#class-container {
	width: 95%;
	min-width: 300px;
	max-width: 1024px;
	margin: 10px auto;

	.comment, #comment p {
		// background-color: $lightGray;
		padding: 10px;
		border-radius: 10px;
	}

	.deprecated {
		color: $red;
		font-weight: bold;
	}

	.constructor-container {
		h3 {
			color: $constructorColor;
			border-color: $constructorColor;
		}
		.signature {
			border-color: $constructorColor;
		}

		.inherited-from{
			display: none;
		}
	}

	h3 {
		margin-top: 60px;
		margin-bottom: 30px;
	}

	.property-container {
		h3 {
			color: $memberColor;
			border-color: $memberColor;
		}
	}
	
	.method-container {
		h3 {
			color: $methodColor;
			border-color: $methodColor;
		}
	}

	.hierarchy h3, #class-index h3 {
		padding-right: 20px;
		font-size: 1.1em;
		display: inline-block;
	}
}

#back-to-top {
	position: fixed;
	bottom: 5px;
	right: 20px;
	
	a {
		text-decoration: none;		
		opacity: .3;
		font-size: 170%;
		text-shadow: 1px 1px aqua;
		
		&:hover {
			opacity: .9;
		}
	}
}