@import "./color.scss";

#class-index {

	h3 {
		color: $darkGray;
		border-color: $darkGray;
	}

	@media (min-width: 1200px){
		ul {
			column-count: 3;
		}
	}
	@media (max-width: 1199px) and (min-width: 601px){
		ul {
			column-count: 2;
		}
	}
	@media (max-width: 600px){
		ul {
			column-count: 1;
		}
	}

	.constructor {
		h4 {
			color: $constructorColor;
		}
		li {
			@include interpolate($constructorColor, adjust-hue($constructorColor, 30), 20, 'color');
		}
	}

	.methods {
		h4 {
			color: $methodColor;
		}
		li {
			@include interpolate($methodColor, adjust-hue($methodColor, 30), 20, 'color');
		}
	}
	
	.properties {
		h4 {
			color: $memberColor;
		}
		li {
			@include interpolate($memberColor, adjust-hue($memberColor, 30), 20, 'color');
		}
	}
	
	li a {
		color: inherit;
		text-decoration: none;
	}

	div {
		margin: 5px;
	}
}

.hierarchy {

	h3 {
		color: $darkGray;
		border-color: $darkGray;
	}

	ul {
		color: $darkGray;
		margin-left: 10px;

		a {
			color: $darkGray;
		}

		.hierarchy-target {
			font-weight: bold;
		}
	}
}