@import "./color.scss";

#interface-container {
	h2 {
		font-size: 1em;

		.name {
			font-weight: bold;
		}
	}

	.interface-properties {
		margin-left: 0px;
		margin-bottom: 10px;
		border-color: $lightGray;

		.interface-property {
			display: block;
			margin: 10px 0px;
			
			.name {
				font-weight: bold;
			}
			
			.signature-symbol, .type {
				color: black;
			}

			.description {
				display: block;
				margin: 10px 0 0 30px;
			}

			@include interpolate($purple, adjust-hue($purple, 50), 20, 'color');
		}
	}
}
