@import "../../node_modules/highlight.js/scss/tomorrow-night-bright.scss";
// @import "../node_modules/highlight.js/scss/atelier-cave-light.scss";
@import "./color.scss", "./classIndex.scss", "./class.scss", "./type.scss",
	"./interface.scss", "./typeTemplate.scss", "./sidebar.scss",
	"./function.scss", "./topbar.scss";

body {
	margin: 0px;
	padding: 0px;
	font-family: "Inconsolata", monospace;
	font-size: 18px;

	#default-container {
		width: 95%;
		min-width: 300px;
		max-width: 1024px;
		margin: 10px auto;
	}

	#class-page {
		width: 100%;
		height: 100vh;
		margin: 0px;
		display: flex;

		@media (max-width: $sidebarHide) {
			display: block;
		}

		#content-container {
			width: 100%;
			overflow-y: auto;
			order: 1;

			@media (max-width: $sidebarHide) {
				left: 0px;
				width: 100%;
			}
		}

		#sidebar {
			flex: 0 0 $sidebarWidth;
			order: 0;

			@media (max-width: $sidebarHide) {
				flex: 1;
				border-bottom: 3px solid $lightGray;
				width: 100%;
				height: auto;

				.category div {
					column-count: 2;
				}
			}
		}
	}

	.ascii-diagram {
		text-align: center;
		font-size: 14px;

		.center {
			font-family: "Courier New", Courier, monospace;
			color: black;
			display: inline-block;
			padding: 10px;
			border-radius: 2px;
			text-align: left;
			white-space: pre;
			font-weight: bold;
			color: $darkGray;

			span {
				font-weight: normal;
			}
		}

		@media (max-width: 600px) {
			font-size: 0.6em;
		}
	}

	h1,
	h2,
	h3,
	h4 {
		font-family: "Roboto", sans-serif;
		font-weight: normal;
		color: $darkGray;
	}

	h3 {
		margin-left: 2px;
		border-bottom: 3px solid $darkGray;
		padding-left: 2px;
	}

	h4 {
		margin-top: 0px;
	}

	pre {
		white-space: normal;
		tab-size: 4;
	}

	code.language-js {
		padding-top: 0px;
		// font-weight: bold;
		// color: black;
		font-family: "Courier New", Courier, monospace;
		font-size: 14px;
		display: block;
		padding: 0 10px 10px;
		border-radius: 10px;
		white-space: pre;
	}

	.example {
		margin-top: 10px;
		margin-bottom: 40px;
		width: calc(100% - 20px);

		.monaco-editor {
			padding: 10px;
			padding-bottom: 0px;
			border-radius: 10px;
		}

		iframe {
			width: 0px;
			height: 0px;
			border: none;
			display: block;
		}

		&.offline iframe {
			width: 100%;
			height: 450px;
		}

		button {
			width: 80px;
		}

		#info {
			margin-left: 10px;

			&.error {
				color: red;
			}
		}
	}

	p,
	p li {
		line-height: 1.5em;
	}

	ul {
		padding-left: 20px;

		li {
			list-style: square;
		}
	}

	#code-links {
		margin-top: 20px;

		.inherited-from,
		.code-link {
			font-size: 0.8em;
			display: inline-block;

			a {
				color: $blue;
			}
		}
	}
}
