@import './color.scss';

$sidebarWidth: 260px;
$sidebarHide: 900px;

#sidebar {
	height: 100vh;
	display: flex;
	flex-direction: column;

	#topbar {
		flex: 0 0 40px;
	}
	
	#contents {
		flex: 1;
		overflow-y: auto;
		margin: 0px;
		margin-top: 0px;
		
		&:not([open]) summary{
			display: block;
		}
		
		@media (max-width: $sidebarHide) {
			margin: 10px;
			margin-top: 0px;
		}

		summary {
			display: none;
			
			@media (max-width: $sidebarHide) {
				display: block;
			}
		}
	}

	#inner {
		padding-bottom: 20px;
		overflow-y: auto;
		flex: 1;
	}

	h3, h4 {
		margin: 20px 0px 10px;
		font-size: 16px;
		color: $darkGray;
		border-color: $darkGray;
	}

	.section, .category {
		margin: 10px 5px;
	}

	.instance.target a {
		pointer-events: none;
		font-weight: bold;
		text-decoration: none;
	}

	.category {
		$steps: 12;
		$from: $orange;
		$to: $yellow;
		@for $var from 0 to $steps {
			&:nth-child(#{$var}) {
				$weight : clamp($var / $steps, 0, 1);
				$color: mix($to, $from, $weight * 100);
				
				$innerSteps: 30;
				$toColor: adjust-hue($color, -30);
				@for $var from 0 to $innerSteps {
					.instance:nth-child(#{$var}) a{
						$weight : clamp($var / $innerSteps, 0, 1);
						color: mix($toColor, $color, $weight * 100);
					}

					.instance a {
						color: $toColor;
					}
				}
			}
		}
	}

	.instance a {
		text-decoration: none;
	}

	#search {
		margin: 10px;
		font-size: 16px;
		font-family: inherit;
		$height: 30px;
		flex: 0 0 $height;
		height: $height;
		position: relative;
		display: flex;
		
		input {
			flex: 1;
			font-size: 0.8em;
			padding: 5px;
			font-family: inherit;
			border: 2px solid $lightGray;
			-webkit-appearance: none;
			appearance: none;
		}
		
		button {
			position: absolute;
			right: 0px;
			top: 0px;
			background-color: transparent;
			height: $height;
			width: $height;
			-webkit-appearance: none;
			appearance: none;
			border: none;
		}
	}
}