@import "./color.scss";
$topbarHeight: 40px;

#topbar {
	height: $topbarHeight;
	padding: 20px;
	padding-bottom: 0px;
	font-size: 1.2em;
	
	a {
		color: black;

		 &:hover {
			 color: $teal;
		 }
	}
}