<h1>All Cats</h1>

<ul>

  <% @cats.each do |cat| %>
    <li><a href="<%= cat_url(cat.id)%>">
        <%= cat.name %> 
        </a>
    </li>
  <% end %>

</ul>

<form action="<%= new_cat_url  %>">
    <input type="submit" value="Add a new Cat">
</form>

