extends layout.pug

block content
  include includes/navigation
  div.coming-soon
    p Feature Coming Soon!
    img(src="https://media4.giphy.com/media/14uQ3cOFteDaU/giphy.gif")
  script(src="/js/index.js")
