extends layout.pug

block content
  body
    include includes/navigation

    div.signUpErr
    div.form-container
      form.create-user-form
          h1.new-user-page Sign Up with Medium Today
          label(for="userName") Username
          input(name="userName" id="userField" class="form" type="text" placeHolder="Babe" required)
          label(for="email") Email
          input(name="email" id="emailField" class="form" type="email" placeHolder="babe@thepig.com" required)
          label(for="password") Password
          input(name="password" id="passwordField" class="form" type="password" placeHolder="password" required)
          label(for="confirmedPassword") Confirm Password
          input(name="confirmedPassword" id="cpField" class="form" type="password" placeHolder="password" required)
          label(for="bio") Tell us about yourself...
          textarea(name="bio" id="bioField" class="form")
          button(type="submit" class=".user-submit") Submit
            //- button(type="submit" id="demo-login") Demo
      img(src="https://www.freevector.com/uploads/vector/preview/28555/People-with-Activity.jpg")
    script(src="/js/create-user.js")
    script(src="/js/index.js")
