<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Layout</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <h4>Display</h4>
        <p>Text message</p>
        <p id="ghost">Text message (ghost)</p>
        <p>Text message</p>
        <p>Text message</p>
        <p>Text message</p>

        <h4>Positions</h4>
        <div class="father">
            <div class="son1">
            </div>
            <div class="son2">
            </div>
            <div class="fixedson">
            </div>
        </div>

        <h4>Float & Clear</h4>
        <div class="father">
            <div class="floatson1"></div>
            <div class="floatson2"></div>
            <div class="floatson2"></div>
            <div class="floatson2"></div>
            <div class="floatson3"></div>
            <div class="floatson3"></div>
            <div class="floatson3"></div>
            <div class="floatson3"></div>
            <div class="floatson3"></div>
        </div>

        <h4>Visibility (Z-Index)</h4>
        <div class="zfather">
            <div class="zson1"></div>
            <div class="zson2"></div>
            <div class="zson2 hidden"></div>
            <div class="zson2 opacity"></div>
        </div>
    </body>
</html>
