
<!-- BEGIN HERO -->
<section class="hero">
  <div class="wrapper">
    <div class="flex flex-center">
      <div class="flex-item flex-item-50"><h1 class="heading">McEvoy Collection</h1></div>
      <div class="flex-item flex-item-50">
        <p class="hero-info">Inventory No. {{inventoryNumber}}</p>
      </div>
    </div>
  </div>
</section>
<!-- //END HERO -->

<section class="data-section">
  <div class="wrapper wrapper-rel data-wrapper">
    <div class="flex">

      <!-- DATA LISTS CONTAINER-->
      <div class="flex-item flex-item-50 data-list-wrap">
        <h2 id="work-title" class="heading">{{workTitle}}<span class="heading-em">{{workYear}}</span></h2>
        <h3 class="heading-sub">{{artist}} <span class="heading-em">{{artistDates}}</span></h3>
        <h4 class="heading-sub-lrg">{{artistOrigin}}</h4>

        <ul class="list info-list">
          <li class="list-item flex">
            <span class="list-heading flex-item flex-item-25">Edition</span>
            <span class="flex-item flex-item-75">{{detailEdition}}</span>
          </li>
          <li class="list-item flex">
            <span class="list-heading flex-item flex-item-25">Dimensions</span>
            <span class="flex-item flex-item-75">{{detailDimensions}}</span>
          </li>
          <li class="list-item flex">
            <span class="list-heading flex-item flex-item-25">Frame Support</span>
            <span class="flex-item flex-item-75">{{detailFrameSupport}}</span>
          </li>
        </ul>

        <ul class="list details-list">
          <li class="list-item flex">
            <span class="list-heading flex-item flex-item-25">Medium</span>
            <span class="flex-item flex-item-75">{{detailMedium}}</span>
          </li>
          <li class="list-item flex">
            <span class="list-heading flex-item flex-item-25">MediaType</span>
            <span class="flex-item flex-item-75">{{detailMediaType}}</span>
          </li>
          <li class="list-item flex">
            <span class="list-heading flex-item flex-item-25">Signature</span>
            <span class="flex-item flex-item-75">{{workSignature}}</span>
          </li>
          <li class="list-item flex">
            <span class="list-heading flex-item flex-item-25">Provenance</span>
            <span class="flex-item flex-item-75">{{detailProvenance}}</span>
          </li>
          <li class="list-item flex">
            <span class="list-heading flex-item flex-item-25">Exhibitions</span>
            <span class="flex-item flex-item-75">{{detailExhibitions}}</span>
          </li>
          <li class="list-item flex">
            <span class="list-heading flex-item flex-item-25">References</span>
            <span class="flex-item flex-item-75">{{detailReferences}}</span>
          </li>
        </ul>

        <ul class="list invoice-list">
          <li class="list-item flex">
            <span class="list-heading flex-item flex-item-25">Invoice No.</span>
            <span class="flex-item flex-item-75">{{invoiceNumber}}</span>
          </li>
          <li class="list-item flex">
            <span class="list-heading flex-item flex-item-25">Seller</span>
            <span class="flex-item flex-item-75">{{invoiceSeller}}</span>
          </li>
          <li class="list-item flex">
            <span class="list-heading flex-item flex-item-25">Purchase Price</span>
            <span class="flex-item flex-item-75">{{invoicePurchasePrice}}</span>
          </li>
          <li class="list-item flex">
            <span class="list-heading flex-item flex-item-25">Retail Price</span>
            <span class="flex-item flex-item-75">{{invoiceRetailPrice}}</span>
          </li>
          <li class="list-item flex">
            <span class="list-heading flex-item flex-item-25">Insured Value</span>
            <span class="flex-item flex-item-75">{{invoiceInsuredValue}}</span>
          </li>
          <li class="list-item flex">
            <span class="list-heading flex-item flex-item-25">Invoice Date</span>
            <span class="flex-item flex-item-75">{{invoiceDate}}</span>
          </li>
          <li class="list-item flex">
            <span class="list-heading flex-item flex-item-25">Value Date</span>
            <span class="flex-item flex-item-75">{{taxValue}}/span>
          </li>
          <li class="list-item flex">
            <span class="list-heading flex-item flex-item-25">Tax Paid</span>
            <span class="flex-item flex-item-75">{{taxPaid}}</span>
          </li>
          <li class="list-item flex">
            <span class="list-heading flex-item flex-item-25">Tax Rate</span>
            <span class="flex-item flex-item-75">{{taxRate}}</span>
          </li>
          <li class="list-item flex">
            <span class="list-heading flex-item flex-item-25">State</span>
            <span class="flex-item flex-item-75">{{New York}}</span>
            </li>
        </ul>
      </div>
      <!-- //DATA LISTS CONTAINER -->

      <!-- IMAGE CONTAINER -->
      <div class="flex-item flex-item-50 image-wrapper"> <img src="{{imgSource}}" alt=""></div>
      <!-- //IMAGE CONTAINER -->
    </div>
  </div>
</section>

<!-- BEGIN MAIN NAV -->
<!-- <div id="menu-button">
  <div  id="menu-toggle"><span></span></div>
</div>
<div class="wrapper nav-wrapper">
  <nav class="flex flex-justify-center nav">
    <span class="flex-item flex-gutter nav-item"><a href="javascript:void(0)" class="nav-link data-link">Info</a></span>
    <span class="flex-item flex-gutter nav-item"><a href="javascript:void(0)" class="nav-link data-link">Details</a></span>
    <span class="flex-item flex-gutter nav-item"><a href="javascript:void(0)" class="nav-link data-link">Invoce</a></span>
    <span class="flex-item flex-gutter nav-item"><a href="javascript:void(0)" class="nav-link">Edit</a></span>
  </nav>
</div> -->
<!-- //END MAIN NAV -->


