$blue: #3833ED;
$green: #1EDF3E;
$red: #ED3333;
$purple: #7F33ED;
$teal : #22DBC0;
$pink : #ED33CF;
$yellow : #FFFC0C;
$darkGray : #616161;
$gray : #8C8C8C;
$lightGray : #ECECEC;
$lighterGray : rgba($lightGray, 0.5);
$orange : #f5871f;
$lightPurple : #ecfbff;

$margin: 3px;
$padding: 25px;
$indent : 30px;
$border : 3px solid black;

$degMult : -25;
$memberColor: adjust-hue($purple, 0 * $degMult);
$methodColor: adjust-hue($purple, 1 * $degMult);
$staticMemberColor: adjust-hue($purple, 2 * $degMult);
$staticMethodColor: adjust-hue($purple, 3 * $degMult);

$sidebarWidth : 250px;
$mobileWidth: 700px;