/* TRANSITIONS */

div{
    height: 200px;
    width: 200px;
    background: orange;
    border: 2px solid black;
    margin: 50px;
    /* transition: all 2s linear; */
    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.5s;
    /* ease, ease-in, ease-out, ease-in-out, linear */
}

/* TRANSFORMATIONS

IMPORTANT: TRANSFORMATIONS DONT CHANGE RELATIVE POSITIONS OF THE ELEMENTS

transform: type(amount);
transform: typeX(amount);
transform: typeY(amount);
transform: type(amountX, amountY);
transform: type() type() ...;

rotate, skew, translate, scale
*/


div#rotate:hover{
    transform: rotate(10deg);
    transform-origin: top right;
    background: black;
}

div#skew:hover{
    transform: skewY(20deg);
    background: black;
}

div#translate:hover{
    transform: translate(200px);
    background: black;
}

div#scale:hover{
    transform: scale(0.8);
    background: black;
}
