.divider {
    border-right: 1px solid rgb(223, 223, 223);
}

.specialGreen {
    color: #00BF6F
}


.column.dropdown.is-hoverable.py-0{
    display: flex;
    flex-shrink: 5
}

.mx-3 {
    display: flex;
    flex-grow: .05
}

.has-navbar-fixed-top {
    height: 100vh;
}

