.divider {
  border-right: 1px solid rgb(223, 223, 223);
}

.tableRows{
  display: flex;
  justify-content: space-between;
}
.sOwnerDiv{
  display: flex;
  flex-grow: 1.4;
}
.sNameDiv{
  display: flex;
  flex-grow: 1.3;
}
.sCreatedDiv{
  display: flex;
  flex-grow: 2.0;
}
.sModifiedDiv{
  display: flex;
  flex-grow: 2;
}
.sQuestionDiv{
  display: flex;
  flex-grow: 1.7;
}
.upVotesDiv{
  display: flex;
  flex-grow: 3.5;
} 



.sOwnerDiv,
.sNameDiv,
.sCreatedDiv,
.sModifiedDiv,
.sQuestionDiv,
.upVotesDiv {
  display: flex;
  justify-content: center;
  color: white;
  background-color: #6B787F;
  border: none;
  border-right: 1px solid #fff;
  
}
.sNameDiv, .sCreatedDiv, .sModifiedDiv{
  cursor: pointer;
}

.sOwnerDiv:hover,
.sNameDiv:hover,
.sCreatedDiv:hover,
.sModifiedDiv:hover,
.sQuestionDiv:hover,
.upVotesDiv:hover {
  background-color: black;
}

#createButton {
  color: white;
  padding: 10px 16px;
border-radius: 2px;
line-height: 16px;
text-decoration: none;
font-family: National2,"Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 13px;
font-weight: 500;
border-width: 2px;
cursor: pointer;
background-color: #00bf6f;
}


.sName,
.created,
.modified, 
.sOwner, 
.questions, 
.upVotes {
  display: flex;
  text-decoration: none;
  color: white; 
  width: 100%;
  justify-content: center;
}

