.Footer {
  position: relative;
  bottom: 0;
  width: 105vw;
  height: 20vh;
  background-color:rgb(239, 250, 243);
  border-top: 2px solid #228b22;
  padding-top: 20px;
  z-index: 0;
}

.Footer__names{
display: flex;
justify-content: space-around;
background-color:rgb(239, 250, 243);
}

.Footer__container {
display: flex; 
flex-direction: row; 
align-items: center;
font-weight: bold;

}

.githubIcon{
  height:43px;
  width: 43px;
}

.LinkedInIcon {
  height: 37px;
  width: 40px
}

.Footer__name {
  display: flex; 
  flex-direction: column;
   align-items: center;
  font-weight: bold;
  color: #228b22
}

.Footer__Name__Container {
  display: flex;
  flex-direction: row;
}