body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
}

.typingAnimation_container {
  margin-bottom: 20px;
    
}



.splash__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100vh
    
}


.demo__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   height: 80vh
}

.secondDemo__container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    
}