.about__info p, .github__info p, .linkedin__info p {
  color: #777;
}

.about, .github, .linkedin {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: .8em;
}

.disclaimer {
  display:flex;
  box-sizing: border-box;
  padding: 1em;
  color: #d1d1d1;
  text-align: center;
  align-self: center;
  font-size: .8em;
  margin-top: 2.5em;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  height: 8em;
  padding: 1em 3em;
  box-sizing: border-box;
  }

.footer a {
  text-decoration: none;
}

.footer a:hover {
  opacity: .8;
}

.footer__img {
  width: 50px;
  border-radius: 50%;
  padding: 0 1em;
}

h1 {
  margin-bottom: .2em;
  text-align: center;
}

.logo {
  display: flex;
  max-width: 50%;
  align-self: center;
  padding: 1em .7em .6em;
}



@media screen and (max-width: 650px) {
  .tagline {
    text-align: center;
    font-size: 1.3em;
  }

  .disclaimer {
    font-size: 1em;
  }

  .footer {
    justify-content: space-between;
  }

}

@media screen and (max-width: 450px) {
  .footer {
    flex-direction: column;
    height: 20em;
    padding: 1em;
    justify-content: flex-end;
    align-items: flex-start;
  }
}
