<h1>Logging In</h1>

<form action="<%= session_url %>" method="POST">

    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <label for="email">Email</label>
    <input id="email" type="text" name="user[email]" >

    <label for="password">Password</label>
    <input id="password" type="password" name="user[password]" >

    <input type="submit" value="Log In">
</form>

