sudo: false
language: node_js

notifications:
  email:
    on_success: never
    on_failure: change

before_script:
  - npm install -g coffeescript

node_js:
  - "stable"

after_script: "npm install coveralls@2 && cat ./coverage/lcov.info | coveralls"
