/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'variables';

html {
  height: 100%;
}

body {
  font-family: sans-serif;
  background: white;
  color: $grey;
  font-size: 12px;
  height: 100%;
}

header {
  display: flex;
  justify-content: center;
  background-color: $red;
  padding: 10px;

  img {
    width: 43px;
    height: 43px;
  }
}

nav {
  width: 900px;
  background-color: $red;
  padding: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  ul {
    display: flex;
    justify-content: flex-end;

    li {
      a {
        background-color: white;
        border-radius: 4px;
        color: $grey;
        font-weight: 700;
        display: block;
        padding: 15px;
        text-decoration: none;
        text-transform: uppercase;
        cursor: pointer;
        z-index: 1;
        position: relative;
        -webkit-transition: box-shadow 0.1s ease-out,
          background-color 0.1s ease-in-out;
        -moz-transition: box-shadow 0.1s ease-out,
          background-color 0.1s ease-in-out;
        -ms-transition: box-shadow 0.1s ease-out,
          background-color 0.1s ease-in-out;
        -o-transition: box-shadow 0.1s ease-out,
          background-color 0.1s ease-in-out;
        transition: box-shadow 0.1s ease-out, background-color 0.1s ease-in-out;

        &:hover {
          color: $light-grey;
          -webkit-box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.75);
          -moz-box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.75);
        }

        &:active {
          background-color: $light-grey;
          color: white;
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;
        }
      }
    }
  }
}

#root {
  height: 100%;
  padding-top: 20px;
  display: flex;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
  text-align: center;
  color: $black;
}

.pokedex {
  display: flex;
  width: 100%;

  img {
    width: 20px;
    height: 20px;
    margin: 0 10px;
    vertical-align: 10px;
  }

  > ul {
    padding: 0 10px 0 0;
    width: 375px;
    height: calc(100% - 20px);
    overflow: scroll;
    list-style: none;

    li {
      padding: 5px 10px;
      border-bottom: 1px solid gray;
      cursor: pointer;

      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: black;
      }
    }
  }
}

.pokemon-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid black;
  border-radius: 25px;
  width: 100%;
  margin: 20px 30px;
  background: #999;
  color: black;

  img {
    width: 80%;
    height: auto;
    border: 3px solid black;
    margin-top: 40px;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 60%;
    color: black;
    background: white;
    justify-content: center;
    border-radius: 10px;
    padding: 20px;

    input,
    select {
      margin: 20px 0;
      border: none;
      border-bottom: 1px solid black;
      font-size: 14px;
      &:focus {
        outline: none;
      }
    }

    select {
      font-size: 16px;
    }

    button {
      padding: 10px 0;
      background: red;
      color: white;
      font-weight: bold;
      font-size: 16px;
    }
  }

  .logo {
    background-image: url('pokemon-logo.svg');
    height: 100px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 30px;
  }
}
