.peopleList {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  overflow: none;
  white-space: nowrap;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  width: 80%;
  height: 65px;
}
.peopleList::-webkit-scrollbar {
  display: none;
}
.person {
  align-self: center;
  justify-self: center;
  width: 40px;
  animation-name: test;
  transition: all 100ms linear;
}
@media (min-width: 768px) {
  .peopleList {
    height: 150px;
  }
  .person {
    width: 100px;
  }
}
.person__selected {
  transform: scale(1.35);
}
img {
  margin: 0;
  border-radius: 50%;
}
.person__selected img {
  border: 1px solid #addb67;
}
