<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{{name}}</title>
	<link href="https://fonts.googleapis.com/css?family=Inconsolata|Roboto&display=swap" rel="stylesheet">
	<base href="../">
	<link href="./assets/main.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div id="default-container">
		{{> interface }}
	</div>
	<script src="./assets/app.bundle.js"></script>
</body>
</html>