.data-section { padding: 2rem 0 12rem; }
.data-wrapper {

  img { display: block; width: 100%; margin: 0 auto;}

  .data-list-wrap {
    & > .list { 
      padding-top: 1rem;
      transition: all .2s ease;

      opacity: 0;
      max-height: 0;

      &.show { opacity: 1; max-height: 100%;}
      .list-item { margin-bottom: 0; }
    }
    @include tablet-m() { order: 2; width: 100%; }
  }

  & > .flex {
    @include tablet-m() {
      flex-flow: column nowrap;
      & > .flex-item-50 { width: 100%; margin: 0;}
    }
  }

  .heading { @include type-size(3) }
  .heading-sub { 
    padding-top: 3rem;
    font-family: $light; 
    @include type-size(2.5)
  }
  .heading-em { font-family: $light-italic; @include type-size(2) }
  .heading-sub-lrg {
    color: lighten($site-color, 60%);
    font-family: $light;
    @include type-size(2.2);
  }
}
