/* PHASE 7: Online */
.online {
  position: absolute;
  color: white;
  background-color: rgb(20, 212, 30);
  top: 15px;
  left: -45px;
  padding: 5px 50px;
  font-size: 12px;
  font-family: sans-serif;
  border: 1px solid green;
  font-weight: bold;
  transform: rotate(-45deg);
  box-shadow: 1px 1px 2px gray;
}

.profile-picture {
  overflow: hidden;
}