@import "global.css";

.footer {
    position: fixed;
    border-top: 1px solid lightgrey;
    height: 70px;
    left:0;
    right: 0;
    bottom: 0;
    background-color: white;
    font-family: 'Lato', sans-serif;
}

.github-ind-container {
  display: inline-block;
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0 auto;
  padding: 10px 12px;
}

.github-ind-container > a > img{
  margin-right: 40px;
}

.github-ind-content {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-right: 40px;
}

.github-ind-header{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.github-ind-header > img {
  border-radius: 5px;
}

.github-ind-header > div {
  padding: 0 0 0 7px;
  font-family: 'Noto Sans KR', sans-serif;
  color: gray;
  font-size: 14px;
  align-content: center;
  margin-bottom: 4px;
  padding-top: 4px;
}

.github-ind-content > a{
  text-decoration: none;
}

.github-ind-phrase{
  text-decoration: none;
  color: black;
  margin-top: 5px;
}

@media only screen and (max-width: 1080px) {
  .github-ind-phrase{
    margin-top: 4px;
    font-size: 12px;
  }

  .github-ind-header > div {
    font-size: 12px;
  }
  
}

@media only screen and (max-width: 728px) {
  .github-ind-phrase{
    display: none;
  }

  .github-ind-header > div {
    font-size: 10px;
  }

  .github-ind-container > a > img{
    margin-right: 20px;
  }

}
