@import "global.css";

html {
    height: 100%;
}

body{
    font-family: 'Lato', sans-serif;
    background-color: #f2f2f2;
    display: flex;
    height: 100%;
    margin: 0;
    overflow-y: scroll;
}

.log-in_container {
    background-color: white;
    height: 500px;
    width: 300px;
    display: flex;
    box-sizing: border-box;
    border-radius: 20px;
    align-content: center;
    box-shadow: 1px 1px 8px lightgrey;
    justify-content: center;
    padding-top: 20px;
    margin: auto;
}

.form-container{
    display: inline;
    justify-content: center;
    text-align: center;
    width: 300px;
    height: 400px;
}

.log-in_form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
    padding-bottom: 15px;
}

.log-in_input{
    border-radius: 20px;
    padding: 10px;
    border: 1px solid #999999;
    width: 230px;
    margin: 10px 0 10px 0;
    font-size: 13px;
    box-sizing: border-box;
}

.errors{
    font-size: 12px;
    color: red;
}

/* Converted button to "rainbow-button" css */
/* button{
    font-family: 'Lato', sans-serif;
    background: linear-gradient(-45deg, #06c5c5, #a71bca);
    background-size: 100% 100%;
    border-radius: 20px;
    padding: 10px;
    width: 230px;
    margin: 10px 0 10px 0;
    font-size: 15px;
    margin-right: 10px;
    box-sizing: border-box;
    color: white;
    border: white;
}

button:hover {
    background: linear-gradient(-45deg, #a71bca, #06c5c5);
    background-position: 50% 50%;
} */

/* For the login and signup buttons */
.rainbow-button {
    width: 230px;
    padding: 8px;
}

p{
    font-size: 14px;
    padding-top: 64px;
    color: grey;
}

p a {
    text-decoration: none;
    color: grey;
}

p a:hover {
    color: #06c5c5;
    transition: 1s;
}
