@import "global.css";

body {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 8px;
  right: 8px;
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
}
.story-editor {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 10px 200px 0;
}

.story-edit-form {
  display: flex;
  flex-direction: column;
  flex: 1;
  font-family: Georgia, Cambria, 'Times New Roman', Times, serif;
  color: #555;
}

.story-edit-title {
  margin-bottom: 10px;
  font-size: 1.8em;
  border: 1px solid transparent;
  outline: none;
  padding: 3px 5px;
  font-family: inherit;
  color: inherit;
}

.story-edit-draft {
  flex: 1;
  resize: none;
  overflow-x: auto;
  padding: 5px;
  border: 1px solid transparent;
  font-family: inherit;
  color: inherit;
  font-size: 1.3em;
  margin-bottom: 20px;
}

.story-edit-title::placeholder,
.story-edit-draft::placeholder {
  color: #ccc;
}

.story-edit-title:hover::placeholder,
.story-edit-draft:hover::placeholder {
  color: #aaa;
}

.story-edit-title:hover,
.story-edit-title:focus,
.story-edit-draft:hover,
.story-edit-draft:focus  {
  border-left-color: #bbb;
  background-color: rgba(0,0,0,0.03);
  outline: none;
}

.story-edit-title:focus,
.story-edit-draft:focus {
  background-color: rgba(0,0,0,0.02);
}


/* Story publisher overlay */

.story-publisher {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255,255,255,0.9);
  z-index: 2;
}


.story-publish-form {
  width: 70%;
  min-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: center;
  padding: 50px 20px;
  background-color: rgba(255,255,255,0.5);
}

.story-publish-image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  min-width: 400px;
  position: relative;
  z-index: 1;
  border: 1px solid #bbb;
  color: #aaa;
  background-color: inherit;
  margin: 0 10px;
  padding: 0 20px;
  text-align: center;
}

.story-publish-image-wrapper::before {
  content: '';
  float: left;
  padding-top: 75%;
}

.story-publish-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.story-publish-input-wrapper {
  display: flex;
  flex-direction: column;
  width: 30%;
  min-width: 400px;
  margin: 0 10px;
}

.story-publisher-close {
  position: absolute;
  top: 5px;
  right: 5px;
  opacity: 0.7;
  cursor: pointer;
  transition: opacity .5s;
}

.story-publisher-close:hover {
  opacity: 1;
}

.story-publisher-close > img {
  width: 40px;
  height: 40px;
}

.story-publish-now {
  align-self: center;
}

.story-publish-label {
  margin: 5px 0 3px;
}

.story-publish-title {
  margin: 3px 0;
  font-size: 1.2em;
}

.story-publish-subtitle {
  margin: 3px 0;
  font-size: 1em;
}

.hide {
  display: none;
}
