@import "global.css";

.header-outside-container{
  width: 100vw;
  border-bottom: lightgrey solid 1px;
}

.header{
  max-width: 1100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
}

.header-inside-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 30px 5px;
}

.title{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icons{
  align-items: center;
  grid-column-start: 2;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 7px 10px 0 0;
}

.new_story{
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 500;
  background: linear-gradient(-45deg, #06c5c5, #a71bca);
  background-size: 100% 100%;
  border: transparent;
  padding: 6px 10px;
  margin: 10px;
  border-radius: 4px;
}

.infinity_image{
  padding: 50px;
}

.title_name{
  padding: 7px 15px 0 5px;
  font-size: 26px;
  font-weight: bold;
  font-family: 'Noto Sans JP', sans-serif;
  text-decoration: none;
  color: black;
}

.follow,
.following,
.following:hover {
  padding: 15px 5px 0 5px;
  font-family: 'Noto Sans JP', sans-serif;
  text-decoration: none;
  font-size: 14px;
  color: green;
}

.following,
.follow:hover {
  color: black;
}

.following{
  color: black;
}

.followers_count{
  padding: 15px 5px 0 5px;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: black;
}

.dot{
  padding: 10px 5px 0 5px;
  font-family: 'Noto Sans JP', sans-serif;
  color: grey;
}

.about{
  padding: 16px 5px 0 5px;
  font-size: 14px;
  font-family: 'Noto Sans JP', sans-serif;
  color: grey;
  text-decoration: none;
  display: inline-block;
  min-width: 3em;
}

.about:hover{
  color: black;
}

.about_remove{
  pointer-events: none;
  cursor: default;
}

.icons_image{
  align-self: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-top: 5px;
  padding: 10px;
}

.infinity_image{
  padding: 3px 0 0 5px;
  width: 40px;
  height: 20px;
}

.infinity_image_icon{
  width: 100%;
  height: 100%
}


.dropdown_content{
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 12px;
  display: none;
  position: absolute;
  background-color: #F8F8F8;
  min-width: 150px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, .2);
  z-index: 1;
}

.dropdown_content a{
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.header_mini{
  padding: 0 5px;
  display: flex;
  flex-direction: row;
  border-bottom: .5px solid lightgrey ;
}

.naming_info{
  margin: 0 0 10px 10px;
}

.naming_info_list1{
  padding-top: 10px;
}

.naming_info_list2{
  padding-bottom: 10px;
}

.dropdown-content a:hover{
  background-color: #ddd;
}

.question{
  margin: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 14px;
  color: grey;
}

.question_answer{
  color: grey;
  margin-left: 5px;
}

.question_ask{
  color: grey;
}

.about_me{
  margin: 50px 200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}

.nameplate{
  font-size: 30px;
  font-weight: bold;
  font-family: 'Noto Sans JP', sans-serif;
  border-bottom: lightgrey solid 1px;
  padding-bottom: 30px;
}

.nameplate_bio{
  font-size: 18px;
  font-weight: normal;
  font-family: 'Noto Sans JP', sans-serif;
}

.nameplate_bio_edit{
  font-size: 18px;
  font-weight: normal;
  font-family: 'Noto Sans JP', sans-serif;
}

.nameplate_bio_edit_textbox { 
  display: none; 
  margin-top: 5px;
  border-radius: 5px;
  resize: none;
  font-size: 18px;
  font-weight: normal;
  font-family: 'Noto Sans JP', sans-serif;
}

.nameplate_bio_cancel {
  display: none; 
  font-size: 18px;
  font-weight: normal;
  font-family: 'Noto Sans JP', sans-serif;
}

.nameplate_bio_save {
  display: none; 
  font-size: 18px;
  font-weight: normal;
  font-family: 'Noto Sans JP', sans-serif;
  margin-left: 10px;
  background: rgb(26, 137, 23);
  color: rgb(255, 255, 255);
  border-color: rgb(26, 137, 23);
  box-sizing: border-box;
  border-style: solid;
  border-width: 3px;
}

.nameplate_bio_save:hover {
  opacity: 0.8;
}

.follow_following{
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  font-family: 'Noto Sans JP', sans-serif;
}

.person_info_following{
  padding: 5px 10px 0 0;
}

.person_info_dot{
  font-weight: 700;
  font-size: 18px;
}

.person_info_follower{
  padding: 5px 0 0 10px;
}

.profilePic{
  margin: 0 0 0 90px;
  width: 220px;
  height: 220px;
}

.profilePic_pic{
  width:100%;
  height: 100%;
}

.profilePic_text {
  font-size: 18px;
  font-weight: normal;
  font-family: 'Noto Sans JP', sans-serif;
}

.image-form_input {
  display: block; 
  font-size: 18px;
  font-weight: normal;
  font-family: 'Noto Sans JP', sans-serif;
  margin-bottom: 10px;
}

.image-form_upload {
  display: block; 
  font-size: 18px;
  font-weight: normal;
  font-family: 'Noto Sans JP', sans-serif;
  background: rgb(26, 137, 23);
  color: rgb(255, 255, 255);
  border-color: rgb(26, 137, 23);
  box-sizing: border-box;
  border-style: solid;
  border-width: 3px;
}

.image-form_upload:hover {
  opacity: 0.8;
}

.recentStories{
  font-family: 'Noto Sans JP', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
  margin-bottom: 50px;
}

.recentStory{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 640px;
  min-height: 100px;
  margin-top: 20px;
}

.recentStory_title{
  display: block;
  font-size: 34px;
  font-weight: 700;
  text-decoration: none;
  color: black;
  padding: -10px 0px;
}

.recentStory_subtitle{
  display: block;
  font-size: 22px;
  color: grey;
  font-weight: 500;
}

.storyImage{
  margin-top: 10px;
  max-width: 640px;
}

.storyImage_recent{
  width: 100%;
  height: 100%;
}

.storyBody{
  max-width: 640px;
  font-size: 18px;
  padding: 20px 0;
  border-bottom: lightgrey solid 1px;
}

.show{
  display:block;
}

.hide{
  display: none;
}

@media only screen and (max-width: 660px) {
  .recentStory{
    width: auto;
    align-self: flex-start;
  }

  .storyBody{
    font-size: 16px;
  }

  .followers_count{
    display: none;
  }

  .dot{
    display: none;
  }
}