
body, header, html, img, nav, ul, li, aside, h1, h2, section, figure, figcaption
a, p, ol, form, input, select, option, label, footer {
  margin: 0;
  padding: 0;
  border: none;

  font: inherit;
}

ul {
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

body {
  line-height: 1.5;
}

img {
  width: 100%;
}