extends layout.pug

include utils.pug

block content
    +validationErrorSummary(errors)
    form(method="post" action="/user/register")
      input(type='hidden' name='_csrf' value=csrfToken)
        +field('First Name', 'firstName', user.firstName)
        +field('Last Name', 'lastName', user.lastName)
        +field('Email Address', 'emailAddress', user.emailAddress)
        +field('Password', 'password', user.password, 'password')
        +field('Confirm Password', 'confirmPassword', '', 'password')
        





    //- div
    //-   label First Name
    //-   input(type="text" name="firstName" required)
    //- div
    //-   label Last Name
    //-   textarea(type="text" name="lastName" required)
    //- div
    //-   label Email Address
    //-   input(type="email" name="email" required)
    //- div
    //-   label Password
    //-   input(type='text' name="password" required)
    //- div
    //-   label Confirm Password
    //-   input(type='text' name='confirmPassword' required)
    //- div
    //-     button(type="submit") Submit
