$EvernoteGreen: #57bf60;
$EvernoteHoverGreen: #48a041;
$EvernoteDarkGray: #7f7f82;
$EvernoteMediumGray: #d9d9d9;
$EvernoteMediumLightGray: #ececec;
$EvernoteSuperLightGray: #f8f8f8;
$EvernoteErrorRed: #ba2a26;
$EvernoteErrorPink: #f8d0d1;
$EvernoteInputBlue: #eef2f3;
$EvernoteElephantGray: #807f83;
$EvernoteMediumDarkGray: #a6a6a6;
$EvernoteOffBlack: #383d41;

$serif: "Roboto Slab", serif;
$sans-serif: "Raleway", sans-serif;

.no-scroll {
  overflow: hidden;
}

.hide {
  visibility: hidden;
}

.hidden {
  display: none;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes fadeout {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slidein {
  0% {
    left: -500px;
  }
  100% {
    left: 71px;
  }
}

@keyframes slideout {
  0% {
    left: 71px;
  }
  100% {
    left: -500px;
  }
}

@keyframes flash {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
