<% layout('layout') %>

<a href="/">Home</a>

<h1>Welcome Docker Users!</h1>

<ul>
    <% users.forEach(function(user) { %>
        <li><%= user.firstName %> <%= user.lastName %></li>
    <% }); %>
</ul>

<a href="/users/create" class="btn btn-default">Create Users</a>