#modal-wrapper {
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
}

#modal {
  background-color: white;
  width: 600px;
  margin: auto;
  margin-top: 100px;
}

#modal .title {
  padding: 5px;
  margin: 0;
}

#modal .body {
  padding: 5px;
}

#modal input {
  width: 100%;
}

#modal .footer {
  padding: 5px;
  text-align: right;
}