/* LOCAL FONT */

@font-face{
    font-family: "raleway";
    src: url("src/raleway_thin-webfont.eot")
    src: local('?')
        url("src/raleway_thin-webfont.woff") format("woff")
}

p.raleway{
    /*If cant find, load Arial*/
    font-family: "raleway", Arial;
}

/* REMOTE FONT */

p.charm{
    font-family: "Charm", cursive;
}


/* FONT PROPERTIES */

p#demofont{
    font-weight: normal;
    /* 100, 200, ... 800. normal, lighter, bold, bolder */
    font-style: italic;
    /* normal, italic, oblique */
    text-align: justify;
    /* left, right, center o justify */
    text-decoration: line-through;
    /* normal, none, underline, overline, line-through */
    text-transform: lowercase;
    /* capitalize, uppercase, lowercase */
    text-indent: 14px;
    letter-spacing: 2px;
    word-spacing: 4px;
}

p#demofont:first-letter{
    font-size: 30px;
    text-transform: uppercase;
}

/*:first-line
