/* PHASE 2: Notifications */

.badge {
  display: inline;
  background: black;
  padding: 1px 6px;
  border-radius: 50%;
}
.notifications:hover .badge {
  background: red;
}

.notifications {
  position: relative;
  cursor: pointer;
}

.notifications ul {
  display: none;
  z-index: 1;
  position: absolute;
  background: white;
  color: black;
  border: 1px solid #ccc;
}

.notifications ul li:hover {
  background: #eee;
}

.notifications:hover ul {
  display: block;
}

.notifications a {
  white-space: nowrap;
}
