@charset "UTf-8";

/* index.css */

:root {
  --color: #000;
  --default-color: green;
  --new-color: #0f0;
}

html{
  /* font-size: 62.5%; */
  /* 10px = 1rem */
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, div, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, object, code, legend, button, input, textarea, th, td, a, img, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

p{
  margin: 10px auto;
  padding: 10px;
  background: #000;
  color: #0f0;
  text-align: center;
}
