/* Introduction to Cascading Style Sheets */

body {
  /* If the user cannot load the Arial font, the sans-serif font is used */
  font-family: Arial, sans-serif;
  background-color: #fefff1;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 32px;
}

/* This selector selects ALL anchor tag children of ALL list elements that
are children of an Unordered List element */
ul li a {
  text-decoration: none;
  color: inherit;
}

/* This selector selects all image elements that are children (1 level deep)
of a header element */
header > img {
  width: 100px;
}

/* Selects all elements with the class attribute "ingredients-list" */
.ingredients-list {
  /* The list style property is shorthand for multiple list-style properties*/
  list-style: square inside;
}

ol {
  list-style: upper-roman inside;
}

.user_review h4 {
  font-size: 18px;
  font-weight: bold;
}

input[type="radio"],
select button[type="submit"] {
  cursor: pointer;
  outline: none;
}
#review-form input:last-child {
  background-color: gold;
}

#review-form input:last-child:hover {
  background-color: #b19603;
}

#directions ~ ol li:nth-child(2n) {
  background-color: #e2e2e2;
}

#review_form + .user_review {
  border-top: 1px solid black;
}

input[type="radio"] {
  background-image: url(./stars.png);
  -webkit-appearance: none;
  width: 26px;
  height: 27px;
  background-repeat: no-repeat;
  background-position: top left;
  margin-bottom: -5px;
}

input[type="radio"]:checked {
  background-image: url(./stars.png);
  -webkit-appearance: none;
  width: 26px;
  height: 27px;
  background-repeat: no-repeat;
  background-position: bottom left;
  margin-bottom: -5px;
}
