<h1>Music App</h1>

<h2>Sign-in</h2>

<a href="<%= new_user_url %>">Go to Sign-up!</a>

<form action="<%= session_url %>" method = "POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <p>
    <label for="sign_in_email">Email</label>
    <input type="text" name="user[email]" id="sign_in_email">
  </p>
  <p>
    <label for="sign_in_password">Password</label>
    <input type="password" name="user[password]" id="sign_in_password">
  </p>
  <input type="submit" value="Submit">
</form>