.search-input {
  max-width: 700px;
  font-size: 1.5em;
  font-family: "Roboto", "FontAwesome";
  padding: 0.4em;
  margin: 1em 1em 2.5em;
}

.one {
  display: flex;
}

.two {
  display: none;
}

@media screen and (max-width: 830px) {
  .search-input {
    margin: 1em 0 2.5em;
  }
}

@media screen and (max-width: 700px) {
  .search-input {
    max-width: 100%;
    width: 100%;
    font-size: 1.8em;
  }

  .one {
    display: none;
  }

  .two {
    display: flex;
  }
}
