.grid-aside {
  width: 20%;
  box-sizing: border-box;
  float: left;
}

.grid-aside:after {
  content: "";
  display: block;
  clear: both;
}

.grid-section {
  width: calc(80%-15px);
  box-sizing: border-box;
  float: right;
}
.grid-section:after {
  content: "";
  display: block;
  clear: both;
}

footer {
  float: left;
}
