<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>Welcome to example.com, <%= @user.name %></h1>
  <p>
  You have successfully signed up to example.com,
  your username is: <%= @user.login %>.<br>
  </p>
  <p>To login to the site, just follow this link: <%= @url %>
  </p>
  <p>Thanks for joining and have a great day!</p>
</body>
</html>