@import "common.scss";

#constructor {

	#top {
		display: inline-block;

		h1 {
			margin-bottom: 5px;
		}

		#extends {
			float: right;
			font-size: 0.8em;
			margin-left: $indent;
			margin-bottom: $padding;

			a {
				font-size: 1.2em;
			}
		}
	}

	#singleton {
		line-height: 0.8em;
		color: $green;
	}

	#deprecated {
		background-color: lighten($red, 20);
		padding: 10px;
		font-size: 1.1em;

		p {
			display: inline;
		}
	}

	#class_index {
		margin-left: 10px;
		margin-top: 40px;

		ul {
			margin: 0px;
			padding: 0px;
			list-style: none;


			li {
				// padding-left: $padding;
			}
		}

		.group {

			div {
				margin-top: 10px;
				margin-bottom: 5px;
				width: 150px;
				border-bottom: $border;
				font-size: 0.8em;
				line-height: 1.6em;
			}

			a {
				font-weight: normal;

				&:hover {
					font-weight: bold;
				}
			}

			$names : "members", "methods", "static_members", "static_methods";
			$colors : $memberColor, $methodColor, $staticMemberColor, $staticMethodColor; 

			@for $i from 1 through 4 {
				$color : nth($colors, $i);
				$name : nth($names, $i);

				&.#{$name} {
					div {
						color: $color;
						border-color: $color;
					}
					a:hover {
						color: $color;
					}
					
				}
			}
		}

	}

	#description {
		margin-top: 10px;
		margin-bottom: 30px;
		background-color: $lighterGray;
		border-radius: 2px;
		padding: 5px;

		p {
			margin: 5px;
		}

		img {
			display: block;
			width: 80%;
			margin: 0 auto 0 auto;
			max-width: 700px;
		}
	}

	#invocation {

		margin-top: $padding;
		margin-left: $indent;

		h3 {
			color: $gray;
			border-color: $gray;
		}

		#function {
			font-size: 1.2em;
			margin-bottom: $padding;
		}

		#parameters {
			margin-left: $indent;
			margin-top: 10px;
		}

		#class_name{
			font-weight: bold;
		}

		#description {
			margin-top: 0px;
		}
	}

	#defaults {
		margin-left: $indent;

		h3 {
			color: $gray;
			border-color: $gray;
		}

		#values {
			margin-left: 5px;
			font-size: 0.9em;
			line-height: 1em;

			.block {
				margin-left: 20px;
			}

			.key, .value, .punc, .paren {
				display: inline-block;
			}

			.key {
				padding-left: 0px;
				width: auto;
				color: $orange;
				margin-right: 10px;
			}

			.value {
				color: $green;
				display: inline;
			}

			.punc {
				width: 10px;
				text-align: center;
				color: $purple;
			}

			.comma {
				margin-left: -5px;
			}

			.break {
				display: block;
			}

			.paren {
				color: $darkGray;
			}
		}
	}
}