<h2>Sign Up</h2>

<form action="<%= users_url %>" method="post">
    <%= auth_token %>
    <label>
        Username
        <input type="text" name="user[username]">
    </label>
    <label>
        Password
        <input type="text" name="user[password]">
    </label>
    <button>Sign Up</button>
</form>