@import "common.scss";

$padding: 30px;

div.member, div.method, div.staticMethod, div.staticMember{
	margin-bottom: $padding * 2;
	border-left: $border;
	padding-left: 10px;

	h4 {
		display: inline-block;
		margin: 0px;

		&:target {
			border-bottom: 2px solid $yellow;
		}
	}

	#attribute {
		padding-left: $padding;
		margin-bottom: $padding;
		margin-top: 20px;
	}

	.keyword {
		font-size: 0.8em;
		text-transform: uppercase;
	}

	#readonly {
		margin-left: 10px;
		color: $red;
	}


	#inherits {
		font-size: 0.9em;
		position: relative;
		line-height: 1em;
		margin-left: 10px;
		margin-bottom: 5px;
		color: $gray;
		padding-left: 16px;

		#flip {
			position: absolute;
			transform: scale(1, -1);
			left: 0px;
		}
	}

	#name {

		display: inline-block;
		white-space: nowrap;
		word-spacing: -2px;

		#name_link {
			color: $gray;
			margin-left: 10px;
			text-decoration: none;
			opacity: 0;
			transition: opacity 0.1s;
		}

		&:hover #name_link {
			opacity: 1;

			&:hover {
				color: $orange;
			}
		}
	}

	#description {

		background-color: $lighterGray;
		border-radius: 2px;
		padding: 5px;
		margin-top: 20px;

		p {
			margin: 5px;
			margin-bottom: 0px;
		}
	}

	#line_num {
		$height: 15px;
		width: 100%;
		height: $height;
		display: block;
		text-align: right;
		font-size: 0.7em;
		padding-right: 10px;
		letter-spacing: 0.2em;
		line-height: $height;

		a {
			margin-right: 10px;
		}

		a:hover {
			color: $green;
		}
	}

	#signal{
		color: $orange;
		background-color: $lightPurple;
		border: 1px solid $orange;
		width: 14px;
		height: 14px;
		display: inline-block;
		line-height: 10px;
		text-align: center;
		border-radius: 50%;

		&:hover {
			color: $teal;
			border-color: $teal;
		}
	}
}

div.member {
	border-color: $memberColor;
}

div.method {
	border-color: $methodColor;
}

div.staticMethod {
	border-color: $staticMethodColor;
}

div.staticMember {
	border-color: $staticMemberColor;
}

h2.property {
	&.member {
		border-color: $memberColor;
		color: $memberColor;
	}
	&.method {
		border-color: $methodColor;
		color: $methodColor;
	}
	&.staticMethod {
		border-color: $staticMethodColor;
		color: $staticMethodColor;
	}
	&.staticMember {
		border-color: $staticMemberColor;
		color: $staticMemberColor;
	}
	font-size: 1em;
	text-transform: uppercase;
}