/* PHASE 11: Icons */

[class*='icon-'] {
  background-image: url('https://assets.aaonline.io/fullstack/html-css/micro-projects/css-friends/docs/images/sprite.png');
  background-size: 25px 250px;
  display: inline-block;
  width: 25px;
  height: 0;
  overflow: hidden;
  padding-top: 25px;
}

.icon-comment {
  background-position: 0 0;
}

.icon-reblog {
  background-position: 0 -100px;
}

.icon-favorite {
  background-position: 0 -50px;
}

.icon-comment:hover {
  background-position: 0 -25px;
}

.icon-reblog:hover {
  background-position: 0 -125px;
}

.icon-favorite:hover {
  background-position: 0 -75px;
}

[class*='icon-small-'] {
  width: 20px;
  padding-top: 20px;
}

.icon-small-wall {
  background-position: 0 -225px;
}
.icon-small-about {
  background-position: 0 -175px;
}
.icon-small-friends {
  background-position: 0 -150px;
}
.icon-small-photos {
  background-position: 0 -200px;
}
