.home-body {
  display: flex;
  justify-content: space-around;
  max-width: 1200px;
  align-self: center;
  margin: auto;
  padding-top: 175px;
  padding-bottom: 180px;
}

.description {
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  width: 45%;
  // margin: auto;
  border-right: 1px solid $EvernoteMediumLightGray;
  margin-top: 45px;
  padding-right: 5%;

  h3 {
    font-family: $sans-serif;
    font-weight: 800;
    font-size: 55px;
    margin-top: 0px;
    margin-bottom: 20px;
  }

  p {
    font-family: $serif;
    font-weight: 300;
    font-size: 18px;
  }
}
