.top-nav {
  height: 95px;
  width: 100%;
  border-bottom: 1px solid #eee;
  position: fixed;
  background-color: #fff;

  .nav-elements {
    margin: auto;
    align-self: center;
    display: flex;
    justify-content: space-between;
    height: 100%;
    max-width: 1200px;
  }

  .logo {
    margin-left: 40px;
    display: flex;
    img {
      display: inline;
      height: 45px;
      width: 60px;
      vertical-align: middle;
      padding: 25px 5px 5px 0px;
    }
    h3 {
      vertical-align: middle;
      display: inline;
      font-family: $serif;
      align-self: center;
      font-size: 21px;
      color: $EvernoteGreen;
    }
  }

  .login-signup {
    display: flex;
    margin-right: 40px;
    a {
      display: inline;
      font-family: $sans-serif;
      align-self: center;
      font-size: 15px;
      color: $EvernoteDarkGray;
    }
    button {
      padding: 10px 15px;
      display: inline;
      font-family: $sans-serif;
      align-self: center;
      font-size: 15px;
      color: $EvernoteDarkGray;
      margin: 10px;
      border: 2px solid $EvernoteMediumLightGray;
      border-radius: 5px;
    }
    button:hover {
      color: #fff;
      background-color: $EvernoteGreen;
      border-color: $EvernoteGreen;
    }
  }
}

.foot-nav {
  position: fixed;
  bottom: 0px;
  height: 90px;
  width: 100%;
  border-top: 1px solid #eee;
  position: fixed;
  background-color: #fff;
  padding-bottom: 40px;

  .foot-nav-elements {
    margin: auto;
    align-self: center;
    display: flex;
    justify-content: space-between;
    height: 100%;
    max-width: 1200px;

    .quotes,
    .external-links {
      display: flex;
    }

    .quotes {
      margin-right: 40px;
    }

    .external-links {
      margin-left: 40px;
    }

    a {
      vertical-align: middle;
      display: inline;
      font-family: $serif;
      align-self: center;
      font-size: 18px;
      color: $EvernoteGreen;
      padding: 5px;
    }

    p {
      vertical-align: middle;
      display: inline;
      color: $EvernoteDarkGray;
      padding: 5px;
      align-self: center;
      font-size: 18px;
    }

    .fake-quote {
      font-family: $serif;
    }
    .translation {
      font-family: $sans-serif;
    }
  }
}
