.hide-show {
  display: none;
}
.notebook-show {
  top: 0;
  bottom: 0;
  width: 350px;
  flex: none;
  display: flex;
  flex-direction: column;

  .notebook-header {
    background-color: $EvernoteOffBlack;
    height: 152px;
    display: flex;
    flex-direction: column;

    img {
      margin: 10px;
      align-self: flex-end;
      height: 20px;
      width: 20px;
    }
    img:hover {
      cursor: pointer;
    }

    h3 {
      text-align: center;
      margin: auto;
      color: #fff;
      font-family: $serif;
      margin-top: 0;
      font-weight: 200;
    }
  }
  .note-info {
    width: 348px;
    position: absolute;
    top: 152px;
    bottom: 0;
    border-right: 2px solid $EvernoteMediumLightGray;

    .count-options {
      height: 56px;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      border-bottom: 1px solid $EvernoteMediumGray;

      p {
        margin: 10px 15px;
        font-family: $sans-serif;
        color: $EvernoteMediumGray;
      }

      .sort-options {
        margin: 10px 15px;
        font-family: $sans-serif;
        color: $EvernoteElephantGray;
        img {
          display: inline;
          height: 8px;
          width: 8px;
        }
      }
      .sort-options:hover {
        cursor: pointer;
      }
    }

    .notes-index {
      .notebook-show-notes {
        height: calc(100vh - 209px);
      }
    }
  }
}

.locked {
  display: none;
}

.hide-tag-show {
  display: none;
}
