.session-form {
  display: flex;
  flex-direction: column;
  font-family: $sans-serif;

  margin: auto;
  h3 {
    text-align: center;
    font-weight: 600;
    font-size: 25px;
    margin: 15px;
  }
  .session-inputs {
    display: flex;
    flex-direction: column;
    margin: auto;

    .errors {
      display: flex;
      flex-direction: column;

      li {
        margin: auto;
        text-align: center;
        color: $EvernoteErrorRed;
        width: 300px;
        background-color: $EvernoteErrorPink;
        padding: 0px 15px 10px 15px;
        border-left: 1px solid $EvernoteErrorRed;
        border-right: 1px solid $EvernoteErrorRed;
      }

      li:first-of-type {
        padding-top: 10px;
        border-top: 1px solid $EvernoteErrorRed;
      }

      li:last-of-type {
        border-bottom: 1px solid $EvernoteErrorRed;
      }

    }

    input {
      width: 300px;
      border: 1px solid $EvernoteMediumGray;
      padding: 15px;
      margin: 10px;
      border-radius: 5px;
      background-color: $EvernoteInputBlue;
    }

    input:last-of-type {
      text-align: center;
      background-color: $EvernoteGreen;
      color: #fff;
      border-color: $EvernoteGreen;
      transition: background-color 0.5s ease;

    }
    input:last-of-type:hover {
      background-color: $EvernoteHoverGreen;
      border-color: $EvernoteHoverGreen;
    }

  }
}
