.tagmodalbg {
  position: absolute;
  float: left;
  z-index: 3;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  transition-delay: 0.4s;
}

.hide-tag-modal-bg {
  display: none;
  animation: fadeout 0.4s;
  background-color: none;
}

.reveal-tag-modal-bg {
  animation: fadein 0.4s;
  background-color: rgba(255, 255, 255, 0.9);
}

.tags {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -500px;
  float: left;
  z-index: 5;
  flex: none;
  width: 457px;
  border-right: 3px solid $EvernoteMediumLightGray;
  background-color: #fff;

  header {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding-top: 17px;
    display: flex;
    border-bottom: 1px solid $EvernoteMediumLightGray;
    h3 {
      box-sizing: border-box;
      padding: 0px 24px 0px;
      height: 106px;
      margin: 0;
      font-size: 21px;
      font-family: $sans-serif;
      font-weight: 300;
      color: $EvernoteElephantGray;
      letter-spacing: 3px;
    }
    button {
      margin-right: 24px;
      height: 25px;
      width: 25px;
      img {
      }
    }
  }

  .tags-ul {
    display: block;
    z-index: 1;
    height: calc(100vh - 100px);
    overflow-y: scroll;
  }
}
.reveal-tag-index {
  animation: slidein 0.7s;
  left: 71px;
}

.hide-notebook {
  animation: slideout 0.7s;
  left: -500px;
  // visibility: hidden;
}

.tag-item {
  // width: 95%;

  display: flex;
  padding: 0;
  align-content: left;
  margin: 60px 45px;

  .tag-description {
    height: 25px;
    display: flex;
    align-items: center;
    border: 1px solid $EvernoteMediumGray;
    border-radius: 3px;
    padding: 0 10px;
    background-color: $EvernoteSuperLightGray;
    .tag-label {
      margin: 0;
      font-family: $sans-serif;
      font-size: 12px;
      color: black;
      font-weight: 300;
      letter-spacing: 1px;
    }

    .tag-count {
      letter-spacing: 0.75px;
      font-weight: 400;
      font-size: 12px;
      font-family: $sans-serif;
      color: $EvernoteGreen;
      margin-left: 5px;
    }
  }

  .tag-item-buttons {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
    .button-tag {
      height: 25px;
      width: 25px;
      background: image-url("white_trash_can.png");
      background-size: 25%;
      background-repeat: no-repeat;
      background-position: center center;
      margin: auto;
    }
  }
}

.tag-item:hover {
  background-color: #fff;
  cursor: pointer;
  .tag-description {
    transition: background-color 0.4s;
    background-color: $EvernoteGreen;

    .tag-count,
    .tag-label {
      transition: color 0.4s;
      color: #fff;
    }
  }

  .button-tag {
    transition: background 0.4s;
    height: 25px;
    width: 25px;
    background: image_url("trash_gray.png");
    background-size: 85%;
    background-repeat: no-repeat;
    background-position: center center;
    margin: auto;
  }
}

// .hide-tag-index {
//   animation: slideout 2.5s;
// }
