.notebook-header.tag-header {
  background-color: #fff;
  height: 152px;
  border-right: 2px solid $EvernoteMediumLightGray;
}

#tag-label {
  font-family: $sans-serif;
  color: $EvernoteMediumGray;
  margin-bottom: 50px;
  margin-top: 45px;
  margin-left: 15px;
  text-align: left;
  font-size: 30px;
  letter-spacing: 1px;
}
