<header class="main-nav">
	<nav class="left-nav">
		<ul>
			<li id="sections-sidebar-btn">
				<i class="fa fa-bars"></i>
				<span>sections</span>
			</li>
			<li id="search-modal-btn">
				<i class="fa fa-search"></i>
				<span>search</span>
			</li>
		</ul>
	</nav>
	<nav class="right-nav">
		<ul>
			<li>
				<button class="sub-btn">Subscribe Now</button>
			</li>
			<li>
				<button class="login-btn">Log In</button>
			</li>
			<li>
				<i id="gear-dropdown-btn" class="fas fa-cog"></i>
				<%= render partial: 'shared/gear_dropdown' %>
				
			</li>
		</ul>
	</nav>
</header>