<h1>Signup For A New Account!</h1>

<form action="<%= users_url %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <label for="email">email:
    <input type="text" name="user[email]"><br>
    </label>
    <label for="password">password:
    <input type="password" name="user[password]"><br>
    </label>
    <input type="submit" value="submit">
</form>