.boards-menu {
  position: absolute;
  background: white;
  box-shadow: 0 12px 24px -6px rgba(9, 30, 66, 0.25),
    0 0 0 1px rgba(9, 30, 66, 0.08);
  border-radius: 0 3px 3px 0;
  left: 0;
  width: 280px;
  top: 44px;
  z-index: 60;
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 48px);
  overflow-y: auto;
}
