.searchbar-container {
  font-weight: 400;
  left: 127px;
  position: absolute;

  .searchbar-box {
    position: relative;

    input {
      background-color: hsla(0, 0%, 100%, 0.3);
      box-shadow: none;
      color: #172b4d;
      padding-right: 54px;
      border-radius: 3px;
      font-size: 13px;
      height: 28px;
      margin: 0;
      padding-left: 8px;
      line-height: 19px;
      transition: width 0.15s;
      outline: none;
      border: none;
      width: 124px;
      position: relative;

      &:focus {
        background-color: #fff;
        box-shadow: none;
        color: #172b4d;
        padding-right: 54px;
        width: 200px;
      }
    }
    span {
      color: #42526e;
      z-index: 10;
      cursor: pointer;
      position: absolute;
      right: 5px;
      top: 7px;
      width: 15px;
      height: 15px;
      transition: background 85ms, color 85ms;

      &.magnify {
        background-image: image_url('search.png');
        background-size: cover;
      }
    }
  }
}

.search-results-list {
  position: absolute;
  z-index: 100;
}
