<!-- template -->
<div data-div="templates-latest-news">
    <!-- csss -->
    <link rel="stylesheet" data-href="../css/latest-news.min.css" data-template="template-style-latest-news">
    <template data-template="template-latest-news">
        <section data-modules-container="latest-news">
            <div class="f10_latest-news_title-box">
                <h1 class="f10_latest-news_title-icons">公司概要</h1>
            </div>
            <table class="f10_latest-news_table">
                <tbody>
                    <tr>
                        <td>
                            <span>主营业务: </span>
                            <span class="f10_latest-news_fixed-width" data-value="latest-news-td"></span>
                        </td>
                        <td>
                            <span>所属行业: </span>
                            <span class="f10_latest-news_fixed-min-width" data-value="latest-news-td"></span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <span>涉及概念: </span>
                            <span class="f10_latest-news_fixed-max-width" data-value="latest-news-td"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="f10_latest-news_table">
                <tbody>
                    <tr>
                        <td>
                            <span>市盈率TTM: </span>
                            <span class="f10_latest-news_hc" data-float="right" data-value="latest-news-td"></span>
                        </td>
                        <td>
                            <span>每股收益: </span>
                            <span class="f10_latest-news_hc" data-float="right" data-value="latest-news-td"></span>
                        </td>
                        <td>
                            <span>净资产收益率加权: </span>
                            <span class="f10_latest-news_hc" data-float="right" data-value="latest-news-td"></span>
                        </td>
                        <td>
                            <span>总市值: </span>
                            <span class="f10_latest-news_hc" data-float="right" data-value="latest-news-td"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>市盈率(静态): </span>
                            <span class="f10_latest-news_hc" data-float="right" data-value="latest-news-td"></span>
                        </td>
                        <td>
                            <span>营业收入: </span>
                            <span class="f10_latest-news_hc" data-float="right" data-value="latest-news-td"></span>
                        </td>
                        <td>
                            <span>每股净资产: </span>
                            <span class="f10_latest-news_hc" data-float="right" data-value="latest-news-td"></span>
                        </td>
                        <td>
                            <span>总股本: </span>
                            <span class="f10_latest-news_hc" data-float="right" data-value="latest-news-td"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>市净率: </span>
                            <span class="f10_latest-news_hc" data-float="right" data-value="latest-news-td"></span>
                        </td>
                        <td>
                            <span>净利润: </span>
                            <span class="f10_latest-news_hc" data-float="right" data-value="latest-news-td"></span>
                        </td>
                        <td>
                            <span>每股经营现金流: </span>
                            <span class="f10_latest-news_hc" data-float="right" data-value="latest-news-td"></span>
                        </td>
                        <td>
                            <span>流通A股: </span>
                            <span class="f10_latest-news_hc" data-float="right" data-value="latest-news-td"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </template>
    <!-- js -->
    <script data-src="../js/latest-news.min.js" data-template="template-script-latest-news"></script>
</div>