body {
  font-family: Arial, sans-serif
}

h1 {
  font-size: 38px
}

h2 {
  font-size: 32px 
}

ul.ingredients-list {
  list-style: square inside
}

ol.directions-list {
  list-style-type: circle
}

header img{
  size: 100px
}