/* Add your css styles here */

.grid {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.col {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.sub-col {
  height: 50px;
  border-top: 1px solid black;
  border-left: 1px solid black;
}

@media all and (max-width: 720px) {
  .grid, .col {
      grid-template-columns: 50% 50%;
      grid-template-rows: 50% 50%;
  }
}
@media all and (max-width: 360px) {
  .grid, .col {
      grid-template-columns: initial;
      grid-template-rows: 25% 25% 25% 25%;
  }
}
