<body class="main-content">
<article>
  <section class="col col-2-9">
    <h1><a href="#">Launching the New React/Redux Curriculum</a></h1>
    <span class="byline">By APP ACADEMY INSTRUCTIONAL TEAM</span>
    <ul>
      <li>
        <p>It helps you write applications that behave consistently, run in different environments (client, server, and native), and are easy to test. On top of that, it provides a great developer experience, such as live code editing combined with a time traveling debugger.</p>    
      </li>
      <li>
        <p>The whole state of your app is stored in an object tree inside a single store. The only way to change the state tree is to emit an action, an object describing what happened. To specify how the actions transform the state tree, you write pure reducers.</p>
      </li>
    </ul>
    <a href="#">1738 Comments</a>
  </section>
</article>
<article>
  <section class="col col-4-9">
    <iframe width="100%" height="315" src="https://www.youtube.com/embed/ARe9FupzuOA" frameborder="0" allowfullscreen></iframe>
    Warning: This video will make you want to change your career
    
    <header><a href="#">Where Are They Now?</a></header>
    <span class="byline">By APP ACADEMY ALUMNI</span>
    <p>First hand stories from App Academy graduates about transitioning to engineering positions at top tech companies in San Francisco.</p>
    
    <header><a href="#">Cat Academy</a></header>
    <span class="byline">By APP ACADEMY DIRECTOR OF PRODUCTS</span>
    <p>App Academy's latest product targets those interested in owning the popular feline companion by providing a curated cat care curriculum.</p>
  </section>
</article>    

<article>
  <header>The Opinion Pages</header>
  <section class="col col-1-6"> 
    <span class="sub-head">Op-Ed Contributor</span>
    <header><a href="#">Will Javascript ever be as easy as Ruby?</a></header>
    <p>Javscript continues to advance with the newly released EcmaScript7 but it still doesn't quite read like Ruby.</p>
    <ul class="mini-list"> 
      <li>Torvalds: When I Was Almost Wrong</li>
      <li>Knuth: Art of Programming</li>
      <li>Lovelace: The First Algorithm</li>
      <li>Hopper: The First Bug</li>
      <li>Thompson: Go C Unix</li>
      <li>Carmack: My Virtual Reality</li>
      <li>Stallman: Free Speech Not Free Coffee</li>
    </ul>
  </section>
  <section class="col col-1-6">
    <span class="sub-head">Operations</span>
    <header><a href="#">App Academy New York Has A Brand New Office</a></header>
    <span class="byline">By NY OPERATIONS</span>
    <p>The new space features hardwood floors and brick walls for a modern technology space with an aura for learning.</p>
    <img src="assets/new_office.jpg" alt="App Academy New York Office">

    <header><a href="#">Opinion Today, in your Inbox</a></header>
    <p>Each weekday, get though-provoking commentary from our columnists and contributors.</p>
  </section>
</article>    
<footer>  
  <button type="submit">Sign Up</button>
  <p>We'll also send offers to join the App Academy Bootcamp. You can never unsubscribe.</p>
  <hr class="hr-top">
  <hr class="hr-bottom">
  
</footer>
</body>