{{#if sources}}
	<div class="code-link">
		{{#each sources}}
			{{#if @first}}
				Defined in: <a target="_blank"
					href="https://github.com/Tonejs/Tone.js/blob/{{commitHash}}/{{fileName}}#L{{line}}">{{fileName}}</a>
			{{/if}}
		{{/each}}
	</div>
{{/if}}