{{#with (getConstructor this)}}
	{{#if this}}
		<div class="constructor-container">
			<h3><a name="constructor">Constructor</a></h3>
			{{#each this}}
				{{#each signatures}}
					{{>signature constructor=1}}
				{{/each}}
			{{/each}}
		</div>
	{{/if}}
{{/with}}