<div id="interface-container">
	<h2 id="interface-name">
		interface
		<span class="name">{{name}}</span>
		{{#if typeParameter}}
			&lt;
			{{#each typeParameter}}
				{{#if @index}},&nbsp;{{/if}}
				{{name}}
			{{/each}}
			&gt;
		{{/if}}
	</h2>
	<div id="comment">
		{{>comment this}}
	</div>
	<div class="interface-properties signature">
		{{#each children}}
			<div class="interface-property">
				<span class="name">{{name}}</span>
				<span class="signature-symbol">:</span>
				{{>type type}}
			</div>
		{{/each}}
	</div>
	<div id="code-links">
		{{>codeLink}}
	</div>
</div>