<div class="property-container">
	<h3>Properties</h3>
	{{#with (getProperties this)}}
		{{#each this}}
			<div class="property signature">
				{{>signature.title}}

				<span class="property-type">
					{{#if getSignature}}
						{{#unless setSignature}}
							<span class="signature-prefix">readonly</span>
						{{/unless}}
					{{/if}}
					{{!-- Prop type --}}
					{{#if type}}
						{{!-- <span class="signature-symbol">:</span> --}}
						{{>type type}}
					{{else}}
						{{!-- if the type is a getter/setter instead --}}
						{{#if getSignature}}
							{{!-- <span class="signature-symbol">:</span> --}}
							{{#each getSignature}}
								{{>type type}}
							{{/each}}
						{{/if}}
					{{/if}}
				</span>
				{{!-- if the type is a getter/setter instead --}}
				{{#if getSignature}}
					{{!-- <span class="signature-symbol">:</span> --}}
					{{#each getSignature}}
						{{>comment}}
					{{/each}}
				{{else}}
					{{#ifCond name '==' 'units'}}
						{{!-- {{log this}} --}}
					{{/ifCond}}
					{{!-- the info about the property --}}
					{{>comment}}
				{{/if}}

				<div id="code-links">
					{{>inherited}}
					{{>codeLink}}
				</div>
			</div>
		{{/each}}
	{{/with}}
</div>