<h4 class='signature-title'>
	{{!-- static prefix --}}
	{{#if flags.isStatic}}
		<span class="signature-prefix">static</span>
	{{/if}}
	<a name="{{name}}">
		{{{replace name 'new' '<span class="new">new</span>'}}}
		<a class="section-link" href="#{{name}}">#</a>
	</a>
	{{#if (isDeprecated this)}}
		<span class="deprecated">DEPRECATED</span>
	{{/if}}

</h4>