/* PHASE 9: Forms */
.content-main {
    display: flex;
    
}

.input {
    display: flex;
    flex-direction: column;
    width: 85%;
    align-items: center;
    background-color: lightgrey;
    border: 1px solid grey;
    border-radius: 2%;
    margin-left: 20px;
}

.input label {
    font-weight: 700;
}

form {
    display: flex;
    flex-direction: column;
    width: 80%;
}

input, textarea {
    background-color: white;
    border: 1px solid grey;
    border-radius: 5%;
    padding: 5px;
}

form label, input, button{
    padding: 10px;
}

button {
    color: white;
    margin-top: 10px;
    background-color: rgb(15, 170, 15);
    padding: 5px;
    border-radius: 5px;
    width: 100px;
}