.wrapper {
	@extend .clearfix;
	max-width: $desktop + px;
  width: 100%;
	margin-right: auto;
  margin-left: auto;
}

.wrapper-rel { position: relative;}

@for $i from 1 through 10 {
  .wrapper-#{$i * 10} { 
    margin-left: auto;
    margin-right: auto;
    max-width: ($desktop * ($i / 10)) + px;
    width: 100%;
    position: relative;
    @include phone-l() {
      padding-left: $spacing;
      padding-right: $spacing;
    }
  }
}

@include desktop() {
	.wrapper { padding: 0 $spacing-double;}
}
