.padding {
	padding: 20px;
}
.signed {
	color:000066;
	padding:6px;
	text-decoration:none;
}
.giveFeedBack {
	color:OrangeRed;
	background:#000;
	border:1px solid #999;
	padding:5px;
}
.opponentChat {
	color:#333;
	background:#eee;
	border:1px solid #000;
	padding:5px;
}
.selfChat {
	color:#eee;
	background:#333;
	border:1px solid #999;
	padding:5px;
}
.sidebar {
	position:absolute;
	top:1px;
	width:320px;
	opacity:.55;
	transition: opacity 206ms;
	font-family:helvetica;
	background:#000;
	border:20px solid #000;
	border-top:10px solid #000;
	border-radius:5px;
}
.sidebar label {
	display:block;
}
.sidebar label:hover, p.instructions:hover {
	cursor:pointer;
}
.sidebar input[type=checkbox], .sidebar input[type=radio]  {
	display:none;
}

p.instructions {
	font-size:16px;
	padding:4px 0;
	margin:0 0 0 10px;
	display:inline-block;
}

.sidebar input[type=checkbox]:checked  + .checkspot,
.sidebar input[type=radio]:checked  + .radio {
	background:OrangeRed;
}

.checkspot {
	width:16px;
	height:16px;
	background:white;
	float:left;
	border-radius:16px;
	border:5px solid #000;
}
.radio {
	width:16px;
	height:16px;
	background:white;
	float:left;
	border-radius:16px;
	border:5px solid #000;
}
fieldset {
	padding:10px;
	margin:10px auto;
	width:260px;
}

.sidebar legend {
	color:#eee;
	padding:0 7px;
	font-size:16px;
}

.sidebar:hover, .sidebar.focus{
	opacity:1;
}

label.forClock > input {
	height:18px;
}
input[name=useGameClock]{
	margin-left:35px;
}

input[name=rows], input[name=columns] {
	font-size:16px;
	width:25px;
	text-align:right;
	height:20px;
	line-height:24px;
	outline:none;
}


.x {
	font-size:18px;
}
.setClock {
	display:none;
}

.sidebar h1 {
	-webkit-margin-before:0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	margin:0;
	padding:2px 0 0 0;
	font-family:sans-serif;
	font-size:40px;
	line-height:51px;
	color: #000;
	margin-bottom:10px;
	background:#333;
	text-align:center;
	transform: skewX(-11deg) translateX(5px);
}

.sidebar h2 {
	text-align: center;
	color:#fff;
}

.boardOptions {
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	position:relative;
	width:100%;
	background:#333;
	padding-bottom:10px;
	max-height:42px;
	overflow:hidden;
  transition: all 167ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
}
.boardOptions > h1:hover, .sidebar h1:hover {
	cursor:pointer;
}
.boardOptions.hoverd{
  transition: all 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
	max-height:380px;
}
.controls{
	width:285px;
	display:block;
	margin: 0 auto;
	padding-left:10px;
	
}

.sidebar button {
	position:relative;
	height:40px;
	width:90px;
	margin:0px;
}