@import "common.scss";

#inline_parameters {

	.param {
		display: inline-block;
	}

	#default {
		color: $green;
	}

	.punc {
		color: $darkGray;
	}

	.optional {
		color: $gray;
	}

	@for $i from 1 through 7 {

		div:nth-of-type(#{$i}) {
			color: adjust-hue($purple, (($i - 1) / 7) * 100);
		}
	}	
}

$paramWidth: 90px;

#parameters {

	margin-left: $indent;
	margin-top: 10px;
	margin-bottom: 20px;

	.param, #returns {
		margin-bottom: 15px;
		display: table;

		#param_name, #param_description {
			display:table-cell;
			vertical-align:top;
		}

		#param_name {
			padding-right: 15px;
			width: $paramWidth;
		}

		#param_description {
			line-height: 1.1em;

			p {
				margin: 0px;
				margin-bottom: 5px;
			}

			div {
				margin-bottom: 5px;
			}
		}

		#description {
			font-size: 1em;
			line-height: 1.5em;
			p {
				margin: 0px;
			}
			pre {
				font-size: 1em;
			}
		}

		#type_text {
			color: $orange;
		}

		#optional {
			color: $green;
		}

		#default {
			color: $green;

			.default_value {
				color: black;
				margin: 0px;
				display: inline-block;
			}
		}
	}

	.keyword {
		font-size: 0.8em;
		text-transform: uppercase;
	}

	@for $i from 1 through 7 {
		.param:nth-child(#{$i}) {
			#param_name {
				color: adjust-hue($purple, (($i - 1) / 7) * 100);
			}
		}
	}	

	#returns {

		#type {
			white-space: nowrap;
			width: $paramWidth;
			padding-right: 20px;
			display:table-cell;
			vertical-align: top;
		}
		#ret_text {
			color: $red;
			margin-right: 5px;
		}

		#description {
			display:table-cell;
			vertical-align:top;
		}
	}

	a {

		&:hover {
			color: $pink;

			&:active {
				color: $teal;
			}
		}
	}
}
