<h2>Sign Up!</h2>

<form action="<%= users_url %>" method="POST">
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

<label>username
  <input type="text" name="user[username]">
</label><br>
<label>password
  <input type="password" name="user[password]">
</label><br>

<input type="submit" value="Sign Up">

</form>