extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/about.css")
  link(href="https://fonts.googleapis.com/css2?family=Lato&family=Noto+Sans+KR&display=swap" rel="stylesheet")
  //- add page specific js

block content
  .aboutpage-container
    h2.page-title About #{title}
    p Infinium* is a place for one's infinite imagination to thrive! A home for all lovers of speculative fiction, whether that be fantasy, sci-fi, or superheroes; and whether through comics, magazines, books, or movies, we have your interests in our heart. Our authors span the gamut of genre's offering such things as:
    ul.offerings-list
      li Fan fiction
      li Interviews
      li Book and Movie Reviews
      li Opinions
      li News
      li Original speculative fiction stories
      li And much more!
    p So if you have not already, #[a.join(href='/users/register') join us#[img.lightsaber(src='/images/lightsaber-1.png')]]!
    p Be a part of a truly mutating experience for both you and us. Your participation writing, commenting, lightsabering, and following on Infinium can help grow this community.
    p.disclaimer * Infinium is a project by App Academy students (Dale Sakamoto, Mike Jensen, Rhys Previte, and Scott Smith) as a (general) "clone" of the #[a.clone-model-link(href='https://medium.com/') Medium website] as of November 2020. As such, all articles are fake (and generally just gibberish).
