.footer
  .github-ind-container
    a(href=`https://github.com/scottgit/Infinium`)
      img(src='/images/github-logo.png' width="42" height="42" alt="")
    .github-ind-content
      a(href=`https://daletsakamoto.github.io/`)
        .github-ind-header
          img(src='/images/Dale-Sakamoto.jpeg' width="20" height="20" alt="")
          div Dale Sakamoto
        .github-ind-phrase Do. Or do not. There is no try.
    .github-ind-content
      a(href=`https://github.com/scottgit`)
        .github-ind-header
          img(src='/images/Scott-Smith.jpeg' width="20" height="20" alt="")
          div Scott Smith
        .github-ind-phrase Scotty, Beam me up!
    .github-ind-content
      a(href=`https://github.com/Preezey24`)
        .github-ind-header
          img(src='/images/Rhys-Previte.jpeg' width="20" height="20" alt="")
          div Rhys Previte
        .github-ind-phrase The Force is strong with this one
    .github-ind-content
      a(href=`https://github.com/Mjensen24`)
        .github-ind-header
          img(src='/images/Michael-Jensen.jpeg' width="20" height="20" alt="")
          div Michael Jensen
        .github-ind-phrase One Ring to Rule them All
