<section class="masthead">
    <section class="language-nav">
        <ul >
            <li> <a href="#">CSS</a></li>   
            <li> <a href="#">HTML</a></li>
            <li> <a href="#">Javascript</a></li>
            <li> <a href="#">Ruby</a></li>
        </ul>
    </section>

    <img src="<%= image_url("AA_Times_Logo.png")  %>" alt="" class="logo">

    <ul class="masthead-links">
        <li> <time> Tuesday, October 18, 2016 </time></li>
        <li> <a href="#"> <i class="far fa-newspaper"></i>Today’s Paper </a></li>
        <li> <a href="#"><i class="fas fa-video"></i> Video </a></li>
        <li> <button> 77°F </button></li>
        <li> <button> AAO <strong>+100%</strong> </button></li>
    </ul>
</section>