@import "./color.scss";

@mixin colorSignature(){
	$steps: 4;
	$from: $purple;
	$to: $pink;
	@for $var from 1 to $steps {
		&:nth-child(#{$var}) .name {
			$weight : clamp(($var - 1) / $steps, 0, 1);
			color: mix($to, $from, $weight * 100);
		}
	}
	& .name {
		color: $to;
	}
}

.signature {
	display: block;
	// margin: 10px;
	padding: 0 10px 0 20px;
	border-left: 3px solid black;
	margin-bottom: 60px;

	h4 {
		margin-top: 0px;
		margin-bottom: 10px;
		font-size: 1.2em;
		font-weight: bold;
	}

	.signature-symbol {
		display: inline-block;
		letter-spacing: 0.1px;
	}

	.signature-prefix {
		font-family: monospace;
		background-color: $gray;
		color: white;
		border-radius: 3px;
		padding: 3px;
		margin-right: 5px;
		font-size: 0.7em!important;
	}

	.signature-title {
		
		.new {
			color: $purple;
		}
		.section-link {
			color: $gray;
			text-decoration: none;
			opacity: 0;
			transition: opacity 0.2s;

			&:hover {
				opacity: 1;
			}
		}
	}

	.signature-parameter {
		margin: 10px 20px;

		.name {
			font-weight: bold;
		}

		#top, #bottom {
			display: inline-block;
			vertical-align: text-top;
		}

		@include colorSignature();
		
	}

	.function {

		margin-top: 20px;
		border-radius: 10px;
		background-color: $lighterGray;
		padding: 10px;

		.explanation {
			display: none;
			margin-left: 0px;
		}

		h5 {
			margin-left: 0px;
			font-size: 0.8em;
			text-transform: uppercase;
			margin-bottom: 0px;
		}

		// .signature-symbol {
		// 	margin-left: 3px;
		// }

		// .signature-symbol + .signature-symbol {
		// 	margin: 0px;
		// }

		
		.parameters {
			margin-left: 30px;
			
			.parameter {
				margin: 20px 0;
				display: block;
				
				.name {
					font-weight: bold;
					margin-right: 0px;
				}

				.signature-symbol {
					margin-right: 2px;
				}

				.default-value {
					margin-left: 0.6em;
				}
				
				.description {
					display: block;
					margin: 10px 0 0 30px;
				}
				
				@include colorSignature();
			}
			
		}

		.description {
			display: block;
			margin: 20px 0 0 60px;
		}
	}

	.description {

		.nominal-range {
			font-size: 0.9em;
			color: #444;
			line-height: 1.3em;
			font-weight: 100;
		}
	}

	.property-container & {
		@include interpolate($memberColor, adjust-hue($memberColor, 60), 20, 'border-color');
	}

	.method-container & {
		@include interpolate($methodColor, adjust-hue($methodColor, 60), 20, 'border-color');
	}
}

.property {
	h4, .property-type {
		display: inline-block;
	}
}