<h1>Login</h1>

<form action="<%= session_url %>" method="post">
  <input type="hidden"
    name="authenticity_token"
    id=""
    value="<%= form_authenticity_token %>">

  <label for="user_username">Username</label>
  <input
    type="text"
    name="user[name]"
    id="user_username">

  <label for="user_password">Password</label>
  <input
    type="password"
    name="user[password]"
    id="user_password">

  <input type="submit">
</form>

<a href="<%= new_user_url %>">Sign up!</a>
