div{
    height: 200px;
    width: 100px;
    background: orange;
    margin:50px;
    text-align: center;

    /* BORDERS */

    /*border: 5px solid red;*/
    border-color: red;
    border-style: solid;
    /* solid, dashed, double, dotted, inset, outset, none */
    border-width: 5px;

    border-top-style: dotted;
    border-top-color: blue;

    border-radius: 20px;
    border-top-right-radius: 50px;

    /* SHADOWS */
    box-shadow: 10px 20px 5px blue,
                -10px -10px 5px green;
    /* Horizontal - Vertical - Blur - Color */
}

p{
    position: relative;
    top: 25%;
    font-size: 20px;
    color: white;
    text-shadow: 5px 5px 10px black;
    /* Horizontal - Vertical - Blur - Color */
}
