link(rel="stylesheet" type="text/css" href="/styles/footer.css")
div(class="Footer" )
  div(class="Footer__names")
    div(class='Footer__name') Greg Lloyd
      div(class='Footer__Name__Container')
        a(href='https://github.com/Greg001100')
          img(class='githubIcon' src="/images/GitHub-icon.png" alt='')
        a(href="https://www.linkedin.com/in/greglloyd1/")
          img(class="LinkedInIcon" src="/images/5c51d84f00978c6ad00b3a7bf9f236e5.png" alt='')
    div(class='Footer__name') Austin Burger
      div(class='Footer__Name__Container')
        a( href='https://github.com/about14sheep')
          img(class='githubIcon' src="/images/GitHub-icon.png" alt='')
        a(href="https://www.linkedin.com/in/austin-burger/")
          img(class="LinkedInIcon" src="/images/5c51d84f00978c6ad00b3a7bf9f236e5.png" alt='')
    div(class='Footer__name') Zachery Haley
      div(class='Footer__Name__Container')
        a(href='https://github.com/Zackitty')
          img(class='githubIcon' src="/images/GitHub-icon.png" alt='')
        a(href="https://www.linkedin.com/in/zachery-haley-90a1a21b1/")
          img(class="LinkedInIcon" src="/images/5c51d84f00978c6ad00b3a7bf9f236e5.png" alt='')
    div(class='Footer__name') Daniel Ramirez
      div(class='Footer__Name__Container')
        a(href='https://github.com/danieldotcom2')
          img(class='githubIcon' src="/images/GitHub-icon.png" alt='')
    
                      
  