extends layout.pug

block content
    link(rel="stylesheet" type="text/css" href="/styles/name-survey.css")
    div(class="name__container") 
        div(class="columns has-background-light my-1")
            div(class="column is-one-quarter")
            div(class="column has-text-centered box my-6")
                form(action="/surveys/create" method="post")
                    input(type='hidden' name='_csrf' value=token)
                    div
                        label(for="surveyName" class="is-size-2") Enter a name for your survey
                        br
                        input(type="text" name="surveyName" placeholder="Make it interesting!" class="input has-text-centered")
                    div
                    button(type="submit" class="is-success button my-3") Create Survey
            div(class="column is-one-quarter")
    include footer.pug