<h1>Log Into Your Account!</h1>

<form action="<%= session_url %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <label for="email">email:</label>
    <input type="text" name="user[email]"><br>
    <label for="password">password:</label>
    <input type="password" name="user[password]"><br>
    <input type="submit" value="submit">
</form> 