
.btn--dropdown {
  box-sizing: border-box;
  border: none;
  width: 100%;
  font-size: 1.3em;
  font-weight: 800;
  padding: .3em .1em;
  background-color: white;
  border-radius: none;
  margin: 0;
  outline: none;
}

.btn--dropdown:hover {
  background-color: #9d6afd;
}

.btn--nav {
  background-color: #f5f5f5;
  padding: .2em .4em;
  font-size: 1.5em;
  font-weight: 600;
  margin: 0 .2em;
  box-sizing: border-box;
}

.btn--nav:hover {
  background-color: #9d6afd;
  box-shadow: 0 0 7px rgba(157, 106, 253, .9);
}

.btn--hamburger {
  box-sizing: border-box;
  padding: .3em .4em .2em;
  border-radius: .1em;
  margin-right: 0;
  font-size: 1.7em;
}

.btn--hamburger:hover {
  background-color: #bdbdbd;
}

.dropdown {
  z-index: 100;
  box-sizing: border-box;
  position: fixed;
  top: 5em;
  right: 0;
  flex-direction: column;
  align-items: center;
  border: 1px solid #d1d1d1;
  border-right: none;
  border-top: none;
  justify-content: flex-start;
  height: auto;
  background-color: white;
  min-width: 200px;
}

.dropdown__header {
  box-sizing: border-box;
  padding: .6em 1.7em .1em 1.7em;
  font-size: 1.1em;
  text-align: center;
}

.dropdown__header--email {
  box-sizing: border-box;
  padding: .1em 1.7em .7em 1.7em;
  font-size: 1em;
  color:#777;
  text-align: center;
}

.dropdown__header--background {
  background-color: #f5f5f5;
}

.dropdown__li {
  width: 100%;
  align-content: center;
  box-sizing: border-box;
}

.mobile {
  display: none;
}

nav {
  width: 100%;
  position: fixed;
  background-color: #ffffff;
  top: 0;
  height: 5em;
  box-sizing: border-box;
  border-bottom: 1px solid #d1d1d1;
  z-index: 99;
  padding: 0 1em;
}

.nav__logo {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav__logo--title {
  color: #25afff;
  font-size: 2.5em;
  padding-top: .3em;
  padding-left: .15em;
}

.nav__logo--img {
  max-height: 3em;
  padding: 0;
  max-width: 5em;
}

.nav__links {
  max-height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

ul {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

@media screen and (max-width: 650px) {

  nav {
    padding: 1em;
  }

  .nav__logo--title {
    font-size: 2.2em;
  }

  .nav__logo--img {
    max-height: 3.2em;
    max-width: 4.2em;
  }

  .btn--hamburger {
    margin-right: 0;
    margin-left: .2em;
    font-size: 2em;
  }

  .btn--dropdown {
    font-size: 1.6em;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  .btn--nav {
    padding: .4em .6em;
    margin-left: 0.3em;
  }

  .dropdown {
    padding-bottom: .5em;
  }

  .dropdown__email {
    font-size: 1.1em;
  }

  .dropdown__header {
    font-size: 1.3em;
  }

  .mobile {
    display: flex;
  }

  .sessionLinks {
    display: none;
  }
}

@media screen and (max-width: 430px) {
  .nav__logo--title {
    font-size: 1.7em;
  }

  .nav__logo--img {
    max-height: 2.7em;
    max-width: 3.5em;
  }
}
