.modal-holder {
  min-height: 100vh;
  min-width: 100vw;

}

.hide-notebook-edit-form {
  display:none;
}

.hide-note-delete-warning {
  display: none;
}

.hide-tag-delete-warning {
  display: none;
}

.reveal-tag-delete-warning {
  z-index: 15;
}
.reveal-note-delete-warning {
  z-index: 15;
}

.form-modal {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 20;
  background-color: rgba(255, 255, 255, 1);
  .edit-notebook-container {
    width: 540px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $sans-serif;
    .gray-i {
      align-self: center;
      height: 30px;
      width: 30px;
      margin-bottom: 25px;
    }

    .info-title  {

      font-family: $sans-serif;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 13.5px;
      letter-spacing: 1px;
      font-weight: 500;
      color: $EvernoteMediumDarkGray;
      margin-bottom: 52px;
    }

    .bottom-border {
      margin-top: 13px;
      width: 85%;
      border-bottom: 1px solid $EvernoteMediumGray;
    }

    .Overview {
      margin: 2px;
      align-self: flex-start;
      color: $EvernoteDarkGray;
      font-family: $sans-serif;
      font-weight: 600;
    }

    .title-box {
      border: 1px solid $EvernoteMediumGray;
      border-radius: 5px;
      box-sizing: border-box;
      width: 540px;
      height: 40px;
      margin-bottom: 5px;
    }
    .mini-title{
      display: inline;
      border: 1px solid $EvernoteMediumGray;
      border-radius: 5px;
      padding: 4px;
      font-size: 11px;
      color: $EvernoteDarkGray;
      margin: 5px;
      font-weight: 400;
    }

    .edit-title{
      align-self: flex-start;
      height: 35px;

      font-family: $serif;
      font-size: 14px;
      color: $EvernoteGreen;
      font-weight: 200;

    }

    .edit-title::placeholder {
      color: $EvernoteMediumGray;
    }

    .edit-notebook-form {

      display: flex;
      flex-direction: column;
      align-items: center;

      .errors {
        display: flex;
        flex-direction: column;

        li {
          margin: auto;
          text-align: center;
          color: $EvernoteErrorRed;
          width: 200px;
          background-color: $EvernoteErrorPink;
          padding: 0px 15px 5px 15px;
          border-left: 1px solid $EvernoteErrorRed;
          border-right: 1px solid $EvernoteErrorRed;
          border-radius: 5px;
          opacity: 0.65;
        }
        li:first-of-type {
          padding-top: 5px;
          border-top: 1px solid $EvernoteErrorRed;
        }

        li:last-of-type {
          border-bottom: 1px solid $EvernoteErrorRed;
          margin-bottom: 10px;
        }
      }

      .delete-button {
        align-self: flex-start;
        color: $EvernoteGreen;
        font-size: 14px;
        padding-top: 15px;
        padding-bottom: 15px;
      }

      .delete-button:hover {
        cursor: pointer;
      }

      .bottom-border2 {
        padding-top: 15px;
        width: 100%;
        border-bottom: 1px solid $EvernoteMediumGray;
      }

      .edit-form-buttons {
        margin-top: 80px;
        display: flex;
        align-content: center;

        .edit-notebook-button {
          width: 195px;
          height: 30px;
          font-size: 13.5px;
          text-align: center;
          padding: 0;

        }
        .edit-cancel {
          color: $EvernoteDarkGray;
          border: 1px solid $EvernoteMediumGray;
          border-radius: 5px;
          background-color: $EvernoteMediumLightGray;
          margin-right: 4px;
        }

        .edit-cancel:hover {
          background-color: $EvernoteMediumGray;
        }

        .edit-submit {
          color: #fff;
          background-color: $EvernoteGreen;
          border: 1px solid $EvernoteGreen;
          border-radius: 5px;
          margin-left: 4px;
        }

        .edit-submit:hover {
            background-color: $EvernoteHoverGreen;
        }
      }
    }

  }
}
