.album__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1.5em;
}

.album__container--buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.albums__layout {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.album__trash {
  font-size: 1.3em;
  width: 100%;
  padding: .5em;
  background-color: transparent;
}

.album__trash:hover {
  font-size: 1.3em;
}

.empty-dashboard {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.get-started {
  margin-top: 1.5em;
}

.main__user-assets {
  width: 60%
}

.title {
  font-size: 3em;
  font-weight: 300;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  padding: .5em .4em .5em .1em;
  box-sizing: border-box;
  text-underline-offset: 3px;
}

.title__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin-bottom: .4em;
  flex-wrap: wrap;
  padding: 1em .5em .7em;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .main__user-assets {
    width: 90%
  }
}
