/* PHASE 4: Footer */

footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 25px;
  color: #ccc;
  border-top: 1px solid #ccc;
}

footer ul {
  display: flex;
}

footer li {
  margin-right: 5px;
}

footer li:hover {
  color: #000;
}