<!DOCTYPE html>
<html>
	<head>
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
		/>
		<title>{{page.title}}</title>
		<link
			rel="icon"
			type="image/png"
			sizes="174x174"
			href="/assets/images/favicon.png"
		/>
		<link
			href="https://fonts.googleapis.com/css?family=Inconsolata"
			rel="stylesheet"
		/>
		<link rel="stylesheet" type="text/css" href="/assets/css/main.css" />
		<link rel="stylesheet" type="text/css" href="/assets/css/syntax.css" />
	</head>
	<body>
		{% include topbar.html %}

		<div id="content">
			{{content}}
		</div>
		<script src="/build/Tone.js"></script>
		<script src="https://unpkg.com/@tonejs/ui@0.1.3/build/code.js"></script>
		<script>
			// wrap it in a tone-code to make it interactive
			document
				.querySelectorAll(".language-javascript")
				.forEach((element) => {
					element.innerHTML = `
						<tone-code>
							${element.innerHTML}
						</tone-code>
					`;
				});
		</script>
		{% include analytics.html %}
	</body>
</html>
