div.demobox{
    font-family: 'Arial';
    background-color: limegreen;
    margin: 15px 2px;
    padding: 5px 40px;
    text-align: center;
    font-weight: bolder;
    width: 80px;
    display: inline-block;
    vertical-align: middle;
}

/* TURN X */

@keyframes turnX{
    0%{
        opacity: 0.5;
        transform: perspective(200px) rotateX(90deg);
    }
    40%{
        transform: perspective(200px) rotateX(-20deg);
    }
    70%{
        transform: perspective(200px) rotateX(20deg);
    }
}

.turnX:active{
    animation: 1.5s turnX 1;
    backface-visibility: visible;
}
/* TURN Y */

@keyframes turnY{
    0%{
        opacity: 0.5;
        transform: perspective(200px) rotateY(90deg);
    }
    40%{
        transform: perspective(200px) rotateY(-20deg);
    }
    70%{
        transform: perspective(200px) rotateY(20deg);
    }
}

.turnY:active{
    animation: 1.5s turnY 1;
    backface-visibility: visible;
}

/* TURN OUT */

@keyframes turnOut{
    100%{
        opacity: 0.3;
        transform: perspective(500px) rotateY(90deg);
    }
}

.turnOut:active{
    animation: 1.5s turnOut 1;
}

/* TRANSLATE Z */

@keyframes translatez{
    40%{
        transform: perspective(300px) translateZ(120px) rotateY(170deg);
    }
    50%{
        transform: perspective(300px) translateZ(120px) rotateY(190deg);
    }
    80%{
        transform: perspective(300px) translateZ(0px) rotateY(360deg);
    }
    100%{
        transform: perspective(300px) rotateY(360deg);
    }
}

.translateZ:active{
    animation: 1s translatez 1;
    backface-visibility: visible;
    -moz-backface-visibility: visible;
}

/* CUBE SKELETON */

.cube_box{
    all: initial;
    display: inline-block;
    margin: 50px 20px;
    width: 200px;
    height: 200px;
    position: relative;
}

/* front & back of cube */
.cube_box > div{
    border: 2px solid black;
    position: absolute;
    width: 100%;
    height: 100%;
}
.cube_front{
    opacity: 0.75;
    box-shadow: inset 0px 2px 20px black
}
.cube_back{
    background: white;
    -moz-transform: translateZ(-100px) rotateY(90deg);
    transform: translateZ(-100px) rotateY(90deg);
    left: 100px;
}

.cube_box{
    transition-duration: 0.5s;
    transform-style: preserve-3d;
    transform-origin: left center;
}

.cube_box:hover{
    -moz-transform: perspective(800px) rotateY(-80deg);
    transform: perspective(800px) rotateY(-80deg);
}

.cube_box:hover .cube_front{
    opacity: 1;
}
.cube_front{
    background-image: url("css3.png");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

/* WORLD SPHERE */

@keyframes rotacion{
        0%{
            background-position: 0px 0px;
        }
        100%{
            background-position: -160px 0px;
        }
}

 div.world{
    all: initial;
    display: inline-block;
    position: absolute;
    width: 92px;
    height: 92px;
    margin: 100px;
    background-image: url("map.png");
    background-size: cover;
    border-color: black;
    border-radius: 50%;
    box-shadow: 0px 5px 15px black;

    animation: rotacion 10s infinite linear;
 }

 #shadow3d_world{
    background-image: url("shadow.png");
    background-position: fixed;
    position: absolute;
    width: 92px;
    height: 92px;
 }

 /* 3d TEXT */
 p.text3d{
     font-size: 4em;
     color: lightblue;
     transition-duration: 0.3s;
 }
 p.text3d:hover{
     text-shadow: 0px 1px 0px black,
     -1px 2px 0px black, -2px 3px 0px black,
     -3px 4px 0px black, -4px 5px 0px black;
 }
