.form__title {
  font-family: 'Lora', serif;
  font-size: 2.5em;
  font-weight: 700;
}

.login {
  color: #777;
  font-size: .8em;
  align-self: center;
}

.login__link {
  color: #777;
  text-decoration: underline;
}

.login__link:hover {
  color: black;
}
