@charset "UTF-8";
/* rem */
@media only screen and (max-width: 1080px),
    only screen and (max-device-width: 1080px) {
    html {
        font-size: 33.75px;
    }
}
@media only screen and (max-width: 960px),
    only screen and (max-device-width: 960px) {
    html {
        font-size: 30px;
    }
}
@media only screen and (max-width: 800px),
    only screen and (max-device-width: 800px) {
    html {
        font-size: 25px;
    }
}
@media only screen and (max-width: 720px),
    only screen and (max-device-width: 720px) {
    html {
        font-size: 22.5px;
    }
}
@media only screen and (max-width: 640px),
    only screen and (max-device-width: 640px) {
    html {
        font-size: 20px;
    }
}
@media only screen and (max-width: 600px),
    only screen and (max-device-width: 600px) {
    html {
        font-size: 18.75px;
    }
}
@media only screen and (max-width: 540px),
    only screen and (max-device-width: 540px) {
    html {
        font-size: 16.875px;
    }
}
@media only screen and (max-width: 480px),
    only screen and (max-device-width: 480px) {
    html {
        font-size: 15px;
    }
}
@media only screen and (max-width: 414px),
    only screen and (max-device-width: 414px) {
    html {
        font-size: 12.9375px;
    }
}
@media only screen and (max-width: 400px),
    only screen and (max-device-width: 400px) {
    html {
        font-size: 12.5px;
    }
}
@media only screen and (max-width: 375px),
    only screen and (max-device-width: 375px) {
    html {
        font-size: 11.71875px;
    }
}
@media only screen and (max-width: 360px),
    only screen and (max-device-width: 360px) {
    html {
        font-size: 11.25px;
    }
}
@media only screen and (max-width: 320px),
    only screen and (max-device-width: 320px) {
    html {
        font-size: 10px;
    }
}
@media only screen and (max-width: 320px) and (max-height: 416px),
    only screen and (max-device-width: 320px) and (max-device-height: 480px) {
    html.narrow-screen {
        font-size: 8.5px;
    } /* 窄屏 */
}
@media only screen and (max-width: 240px),
    only screen and (max-device-width: 240px) {
    html {
        font-size: 7.5px;
    }
}

body,
p,
ul,
ol,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
input,
select,
textarea,
button,
th,
td {
    margin: 0;
    padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
}
ul,
dl,
ol {
    list-style: none;
}
img,
fieldset,
input[type="submit"] {
    border: 0 none;
}
img {
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
}
em {
    font-style: normal;
}
strong {
    font-weight: normal;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
button,
input[type="button"] {
    cursor: pointer;
    border: 0 none;
}
textarea {
    word-wrap: break-word;
    resize: none;
} /* word-wrap for opera, resize for webkit */
menu {
    margin: 0;
    padding: 0;
}
* {
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent !important;
}
