extends layout.pug
mixin userContent(userId, username)
  div.user-card
    div: a(href=`/users/${userId}`)= username
    div this is a mixin
    div
      div all kinds of stuff for #{username}

block content
  if user
   p welcome, #{user.username}
  h1 fakebook
  div
    each user in users
      //- div welcome, #{user.username}
      //- div= user.username
      include stuff.pug
      +userContent(user.id, user.username)
block sidebar
  p this is the sidebar
