/* PHASE 5: Cats */
.content-header {
    position: relative;
    height: 200px;
    width: 100%;
    background: url(../images/cats.jpg);
    background-size: cover;
}

.content-header > h2 {
    position: absolute;
    color: white;
    font-size: 38px;
    bottom: 10px;
    left: 250px;
}

.content-header-button {
    position: absolute;
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
}