---
---

@import "common.scss";

#marquee {
	width: 100%;
	height: 40px;
	margin-top: 20px;
}

#basicLinks {
	$height: 30px;

	position: relative;
	width: 100%;
	height: $height;
	margin-top: 30px;

	.introSegment {
		position: relative;
		float: left;
		margin-left: $margin;
		margin-top: $margin;
		background-color: black;
		color: white;
		width: calc(100% / 4 - #{$margin});
		display: inline-block;
		height: $height;
		line-height: $height;
		text-align: center;

		a {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0px;
			left: 0px;
		}

		&:hover {
			background-color: white;
			color: black;
		}
	}
}

img {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

p {
	margin-top: 30px;
}
