---
---

@import "common.scss";

$padding: 10px;

body {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: "Inconsolata", monospace;
	}

	h4 {
		font-size: 1.2em;
		font-weight: bold;
	}

	font-size: 16px;
	margin: $margin;
	line-height: 22px;
	color: black;

	@media (max-width: $mobileWidth) {
		font-size: 14px;
	}

	a {
		color: inherit;
		text-decoration: none;
		color: inherit;
		font-weight: bold;
		line-height: inherit;

		&:hover {
			color: $purple;

			&:active {
				color: $blue;
			}
		}
	}

	figure {
		margin: 5px;
	}

	tone-code,
	pre {
		tab-size: 4;
		width: 100%;
		display: block;
	}

	#content {
		position: relative;
		max-width: 900px;
		margin: 0 auto 0 auto;
		font-family: sans-serif;
		padding: 20px;
	}
}
