New Sub
<form action="<%= subs_url  %>" method="POST">
 <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
 <label> Title
      <input type="text" name="sub[title]"  value="<%= @sub.title  %>">
 </label>
 <label> Description
      <input type="text" name="sub[description]"  value="<%= @sub.description %>">
 </label>
 <input type="submit" value="Save">
</form>

