<h1>New User</h1>

<form action="<%= users_url %>" method="POST">
  <input type="hidden"
         name="authenticity_token"
        value="<%= form_authenticity_token %>">
  <label>Username
    <input type="text" name="user[username]">
  </label>
  <label>Password
    <input type="text" name="user[password]">
  </label>
  <input type="submit" value="Create User">
</form>