@import url('https://fonts.googleapis.com/css?family=Pacifico|Roboto:100,100i,300,300i,700');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 1em;
}