<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<title>{{page.title}}</title>
<link rel="icon" type="image/png" href="/assets/images/favicon.png">
<link rel="stylesheet" type="text/css" href="/assets/css/main.css">
<link rel="stylesheet" type="text/css" href="/assets/css/docs.css">
<link rel="stylesheet" type="text/css" href="/assets/css/syntax.css">

<script src="/assets/scripts/prefixfree.min.js"></script>

<link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">