/* PHASE 3: Layout */
.content {
  min-height: 200px;
  display: flex;
}

.content-sidebar, .content-main {
  border: 2px solid black;
  margin: 10px;
}

.content-sidebar {
  width: 20%;
}

.content-main {
  width: 80%;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  color: grey;
  border: 3px solid black;
}

.footer-links {
  display: flex;
  justify-content: space-between;
}

.footer-links li {
  padding: 10px;
}