/* PHASE 7: Online */
.online {
  position: absolute;
  background-color: lightgreen;
  border: 1px solid grey;
  padding: 5px 40px;
  transform: rotate(-45deg);
  top: 10px;
  left: -35px;
  
}

.profile-picture {
  position: relative;
  overflow: hidden;
}