$dark-blue: #0366d6;
$light-grey: #e1e4e8;
$slight-grey: #fafbfc;
$light-black: #586069;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  letter-spacing: 1px;
}

.container {
  width: 80%;
  margin: 2rem auto;
}

.hide {
  display: none;
}

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}

mark {
  font-weight: bold;
  color: $dark-blue;
  background: none;
}

.no-result {
  color: #000;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.header {
  font-size: 3rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: 3rem;
}

.list {
  border: 1px solid $light-grey;
  border-bottom: none;

  .list-item {
    border-bottom: 1px solid $light-grey;
    color: $light-black;
    display: flex;
    justify-content: space-between;
    padding: 0.8rem 1rem 0.8rem 1.6rem;

    &:hover {
      background: #f6f8fa;
    }

    &.active {
      background: #fff;
    }

    .file {
      color: $light-black;
      flex-basis: 200px;
    }

    .label {
      margin-left: 0.5rem;
    }

    .file-icon {
      vertical-align: middle;
      margin-right: 0.5rem;
    }

    .arrow-icon {
      margin: 1rem;
      vertical-align: middle;
    }

    .comment {
      flex: 1;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.search-view {
  color: $dark-blue;
  .list-item {
    background: $slight-grey;
    padding: 0.8rem 1rem 0.8rem 0;
  }
  .label {
    color: $dark-blue;
  }
  .search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;

    .slash {
      color: $light-black;
      margin-left: 0.5rem;
    }

    input {
      width: 50%;
      font-size: 1.6rem;
      padding: 0.5rem;
      border: none;
      letter-spacing: 1px;
    }

    input:focus {
      outline: none;
    }
  }
}

.info-message {
  background: #dbedff;
  padding: 2rem 1.6rem;
  color: #24292e;
  border: 1px solid #04428933;
  border-radius: 6px;
  letter-spacing: initial;
  margin-bottom: 2.4rem;
  line-height: 2rem;
}

.navigation {
  font-family: monospace;
  padding: 1px 5px;
  color: #444d56;
  background: $slight-grey;
  border: 1px solid #d1d5da;
  border-radius: 6px;
}

@media screen and (max-width: 900px) {
  body {
    font-size: 16px;
  }
  .list-item .comment {
    flex-basis: 300px;
    display: none;
  }
}

@media screen and (max-width: 400px) {
  body {
    font-size: 14px;
  }
  .header {
    font-size: 2.2rem;
  }
  .list-item {
    padding: 0.5rem;

    .time {
      white-space: nowrap;
    }
  }
}
