.form {
  width: 100%;
  padding: 2rem 0 0;

  input {
    width: 100%;
    display: block;

    margin-bottom: 20px;
    border-width: 2px;
  }
  
  select { 
    width: 100%;
    display: block;
    
    margin-bottom: 2rem;
  }
}
