/*=======================================================
//login.html
//=====================================================*/
div#login 
{
	margin-top: 100px;
}
/*=======================================================
//dashboard.html
//=====================================================*/
div#dashboard-user, div#dashboard-search 
{
	margin-top: 25px;
}
div#dashboard-search
{
	margin-bottom: 10px;
}