body {
  margin: 0;
  padding: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.panel {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  border: 1px solid silver;
  max-width: 200px;
  margin: 0 auto;
}

.display {
  margin-bottom: 16px;
}

.led {
  background-color: #444;
  border-right: 0.5px solid white;
  color: white;
  display: flex;
  flex: 1;
  padding: 4px 8px;
  justify-content: center;
}

.red-led {
  background-color: crimson;
}

.green-led {
  background-color: limegreen;
}

.toggle-btn {
  flex: 1;
  padding: 4px 8px;
  font-size: 1rem;
  font-weight: 300;
}
