extends layout.pug

include utils.pug

block content
  link(rel="stylesheet" type="text/css" href="/styles/login.css")
  div(class="columns")
    div(class="column")
    div(class="column has-background-light my-6")
      +validationErrorSummary(errors)
      form(action='/login' method='post' class="")
        input(type='hidden' name='_csrf' value=csrfToken)
        +field('Email Address: ', 'email', email)
        +field('Password: ', 'password', null, 'password')
        div(class='py-4 has-text-centered')
          button(type='submit' class='button is-success') Login
        div(class="has-text-centered")
          p: a(href='/sign-up') Don't have an account?

    div(class="column")
  div(class='py-4 has-text-centered')
      form(action='/login' method='post')
        input(type='hidden' name='_csrf' value=csrfToken)
        +demofield('Email Address: ', 'email', 'demo@surveydonkey.com')
        +demofield('Password: ', 'password', 'P4ssword!', 'password')
        button(type='submit' class="button is-success is-light") Demo User Login
        
  include footer.pug