<!-- BEGIN MAIN NAV -->
<div id="menu-button">
  <div  id="menu-toggle"><span></span></div>
</div>
<div class="wrapper nav-wrapper">
  <nav class="flex flex-justify-center nav">
    <span class="flex-item flex-gutter nav-item"><a href="javascript:void(0)" class="nav-link data-link">Info</a></span>
    <span class="flex-item flex-gutter nav-item"><a href="javascript:void(0)" class="nav-link data-link">Details</a></span>
    <span class="flex-item flex-gutter nav-item"><a href="javascript:void(0)" class="nav-link data-link">Invoce</a></span>
    <span class="flex-item flex-gutter nav-item"><a href="javascript:void(0)" class="nav-link">Edit</a></span>
  </nav>
</div>
<!-- //END MAIN NAV -->
