<h1>Edit Band</h1>

<h2><%= @band.name %></h2>

<form action="<%= band_url %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="PATCH">
    <label for="band_name">band name:</label>
    <input type="text" name="band[name]" value="<%= @band.name %>">
    <input type="submit" value="edit">
</form>