@import "common.scss";

#sidebar {

	height: 100%;
	position: fixed;
	top: 0px;
	overflow-y: scroll;

	@media (max-width: $mobileWidth){
		display: none;
		width: 100%!important;
		background-color: white;
		z-index: 1;

		#seperator {
			display: none;
		}

		#searchbox {
			margin-top: 50px!important;
		}
	}

	&.visible {
		display: block!important;
	}

	#seperator {
		border-right: 3px solid black;
		position: fixed;
		top: 10px;
		height: calc(100% - 20px);
		width: 3px;
		left: $sidebarWidth - 10px;
	}

	#scroller {
		
		width: calc(100% - 20px);
		margin-left: 10px;
		height: auto;
		display: block;
	    margin-bottom: 30px;

		h1 {
			width: 90%;
			font-size: 0.9em;
			line-height: 1em;
			border-bottom: 3px solid black;
			color: black;
			text-transform: uppercase;
			margin-top: 10px;
			margin-bottom: 5px;
		}

		.item {
			display: block;
		}

		@for $i from 1 through 10 {

			div:nth-of-type(#{$i}) {
				$color : adjust-hue($orange, (($i - 1) / 10) * -100);

				h1 {
					color: $color;
					border-color: $color;
				}

				a:hover {
					color: $color;
				}

				.active {

					color: $color;

					&:before {
						content: ' ';
					}
				}
			}

		}	
	}

	#searchbox {

		$height: 20px;

		border: 3px solid $gray;
		width: calc(100% - 30px);
		height: $height;
		margin-top: 10px;
		margin-left: 10px;
		position: relative;
		font-family: inherit;
		line-height: $height;

		input {
			border: none;
			height: $height;
			line-height: $height;
			width: calc(100% - #{$height});
			background-color: transparent;
			outline: none;
			line-height: $height;
			font-size: 0.9em;
			font-family: inherit;
		}

		#clear {
			position: absolute;
			right: 0px;
			top: 0px;
			width: $height;
			height: $height;
			background-color: $gray;
			color: white;
			text-align: center;
			line-height: $height;
			cursor: pointer;

			&:before {
				content : "✕";
			}

			&:hover {
				color: $gray;
				background-color: white;

				&:active {
					color: $red;
				}
			}
		}
	}
}

#hamburger {
	$width : 25px;
	$height: 4px;
	$margin: 2px;

	position: absolute;
	top: 10px;
	right: 10px;
	background-color: white;
	width: $width;
	height: $height * 3 + $margin * 2;
	z-index: 10000;
	cursor: pointer;
	padding: 4px;
	border-radius: 2px;

	@media (min-width: $mobileWidth){
		display: none;
	}

	.bar {
		width: 100%;
		height: $height;
		background-color: $gray;
		margin-bottom: $margin;
		border-radius: 1px;
	}

	&:hover {
		background-color: $gray;

		.bar {
			background-color: white;
		}

		&:active {

			.bar {
				background-color: $lightGray;
			}
		}
	}
}