/* PHASE 1: Header */

body {
  /* Write your css here... */
  font-family: sans-serif;
  font-weight: 400;
  background: #eee;
}

.header {
  background: red;
  color: white;
  border-bottom: 1px solid #eee;
}

.header a {
}

.header-nav {
  border-left: 1px solid #eee;
  padding: 10px;
  width: 80%;
  margin: auto;
  border-right: 1px solid #eee;
}

/* # Specifications

## Colors
- Black: #000
- White: #fff
- Dark Gray: #aaa
- Gray: #ccc
- Light Gray: #eee
- Red: #f00

## Type
- Font Family: sans-serif
- Font Weights: 400, 700
- Font Sizes: 24px, 16px, 14px

## Borders
- Thickness: 1px

## Layout
- Whitespace: 5px, 10px, 20px
- Total Size Container: 900px
- Total Size Sidebar: 240px
- Total Size Content: 660px */
