<h2>Add Comment</h2>

<form action="<%= comments_url %>" method="POST">
    <%= auth_token %>
    <input type="hidden" name="comment[post_id]" value="<%= params[:post_id] %>">

    <label>
        Content
        <input type="text" name="comment[content]">
    </label>

    <button>Add Comment</button>
</form>