<h1>All the books!</h1>

<!--
  <%# ruby code that will not be printed %>
  <%#=  ruby code that we want to render %>
-->

<ul>
  <!--
    <%# @books.each do |book| %>
      <%#= render book %>
    <%# end %>
  -->
  <%= render @books %>
</ul>

