extends layout.pug

block content
  include includes/navigation

  textarea(id="article__title" type="text" placeHolder="Enter Title" required)
  div#article__background
    input(type='text' id="Cover__Search")
    button#image_fetch Find Cover Photo
  div#editor_container
    div#editor
  button(type="submit" class="btn btn-primary" id="article__submit") Submit
  script(src="/js/create-article.js")
  script(src="https://cdn.quilljs.com/1.3.6/quill.js")
  include includes/scripts
