extends layout.pug

block content
  each article in articles
    div
      a(href=`/articles/${article.id}`)
        h1= article.title
        h3= article.User.userName
        div Claps: #{article.claps}
