extends layout.pug

block content
  body
    include includes/navigation

    div.content
      div.content__section1
        div.content__article--A
          div.artA__main
            div.artA__main--container
              img.artA__main--img(src="https://picsum.photos/200/200")
              h4.artA__main--author Berber the Cat
                button.followButton Follow
              h2.artA__main--title How I tricked everyone into giving me Snacks
              a.artA__main--link Read More
          div.artA__side
            div.artA__side--Article.side1
            div.artA__side--Article.side2
            div.artA__side--Article.side3
            div.artA__side--Article.side4
        div.content__users--B
          h5 Creators to Follow

      div.pageBreak
      div.trendingIcon
        h5.trendingTitle Trending on Medium
          img(src="https://www.techweez.com/wp-content/uploads/2016/01/rising-trend-chart-icon-70391.png")
      div.content__section2
        div.content__article--B
          div.content__articleB.trending1
          div.content__articleB.trending2
          div.content__articleB.trending3
          div.content__articleB.trending4
          div.content__articleB.trending5
          div.content__articleB.trending6
      div.pageBreak
      div.content__section3
        div.content__article--C
          div.content__articleC--Article
          div.content__articleC--Article
          div.content__articleC--Article
          div.content__articleC--Article
          div.content__articleC--Article
        div.content__categories--D
          img(src="https://i.gyazo.com/8be3b1add6f1deb6736b4ca661c9210b.png")
  include includes/scripts
