
.player {
  box-sizing: border-box;
  border-radius: 0;
  outline: none;
  max-width: 60%;
  margin: 0;
  box-shadow: none;
  border: none;
  background-color: #f5f5f5;
}

.player__container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  flex-direction: column;
  bottom: 0;
  height: 7em;
  box-sizing: border-box;
  padding: 1em;
  margin: 0;
  z-index: 100;
  background-color: #f5f5f5;
  border-top: 1px solid white;
}

.rhap_controls-section {
  flex: 0 0 40px;
}

.rhap_header {
  margin-bottom: 10px;
}

.rhap_footer {
  margin-top: 5px;
}

.rhap_time {
  color: #333;
}

.rhap_progress-bar {
  background-color: #dddddd;
}

.rhap_progress-filled {
  background-color: #9d6afd;
}

.rhap_progress-indicator {
  width: 15px;
  height: 15px;
  background: #25afff;
  border-radius: 50px;
  box-shadow: rgba(134, 134, 134, 0.5) 0 0 5px;
  top: -5.5px;
}

.rhap_progress-indicator:hover {
  background: #0082ce;
}

.rhap_main-controls-button {
  color: #25afff;
}

.rhap_main-controls-button:hover {
  color: #0082ce;
}

.rhap_volume-button {
  color: #868686;
}

.rhap_volume-button:hover {
  color: #9d6afd;
}

.rhap_volume-indicator {
  background: #25afff;
  box-shadow: rgba(134, 134, 134, 0.5) 0 0 3px;
}

.rhap_volume-indicator:hover {
  background: #0082ce;
}


.song-info__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  text-align: center;
  box-sizing: border-box;
}

.song-info {
  color: #777;
  font-size: .8em;
  padding: .1em 2em .1em .1em;
}

@media screen and (max-width: 600px) {

  .player {
    min-width: 100%;
    padding-bottom: 1em;
  }

  .player__container {
    height: 8.5em;
  }

  .song-info {
    text-align: center;
    padding: .1em .5em;
  }

  .song-info__container {
    font-size: 1em;
    padding-top: 1em;
    width: 100%;
  }

  .rhap_time {
    font-size: .8em;
  }

  .rhap_volume-container {
    flex: 0 1 75px;
  }

}
