/* PHASE 7: Online */

.profile-picture {
    position: relative;
    overflow: hidden;
}
.online {
    display: block;
    position: absolute;
    background-color: green;
    padding: 5px 20px;
    color: white;
    font-weight: bold;
    letter-spacing: 3px;
    transform: rotate(-0.1turn) translate(-20px);
}
